@charset "UTF-8";
/*Mixin*/
/*Mixin*/
a:hover, a:focus {
  outline: none; }

.hover-effect, .hover-effect-1 a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
  display: inline-block;
  margin: 15px 0px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.5em;
  text-align: center; }

.hover-effect a::before {
  position: absolute;
  top: 100%;
  left: 50%;
  color: transparent;
  content: '•';
  text-shadow: 0 0 transparent;
  font-size: 1.2em;
  -webkit-transition: text-shadow 0.3s, color 0.3s;
  -moz-transition: text-shadow 0.3s, color 0.3s;
  transition: text-shadow 0.3s, color 0.3s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none; }
  .hover-effect a::before:hover, .hover-effect a::before:focus {
    color: #ba7700; }
    .hover-effect a::before:hover:before, .hover-effect a::before:focus:before {
      color: #fff;
      text-shadow: 10px 0 #fff, -10px 0 #fff; }

/* Effect 19: 3D side */
.hover-effect-1 a, .hover-effect-1 button, .hover-effect-1 div {
  line-height: 2em;
  margin: 0px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  width: 200px; }
  .hover-effect-1 a span, .hover-effect-1 button span, .hover-effect-1 div span {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0 14px;
    background: #fec622;
    -webkit-transition: -webkit-transform 0.4s, background 0.4s;
    -moz-transition: -moz-transform 0.4s, background 0.4s;
    transition: transform 0.4s, background 0.4s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50% -100px;
    -moz-transform-origin: 50% 50% -100px;
    transform-origin: 50% 50% -100px; }
    .hover-effect-1 a span.black, .hover-effect-1 button span.black, .hover-effect-1 div span.black {
      background: #191607;
      color: #fff; }
  .hover-effect-1 a:hover span, .hover-effect-1 a:focus span, .hover-effect-1 button:hover span, .hover-effect-1 button:focus span, .hover-effect-1 div:hover span, .hover-effect-1 div:focus span {
    background: #e1b203;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg); }
    .hover-effect-1 a:hover span.black, .hover-effect-1 a:focus span.black, .hover-effect-1 button:hover span.black, .hover-effect-1 button:focus span.black, .hover-effect-1 div:hover span.black, .hover-effect-1 div:focus span.black {
      background: #333;
      color: #fff; }
.hover-effect-1 div {
  margin: 0px auto;
  z-index: 1; }

.csstransforms3d .hover-effect-1 a span::before, .csstransforms3d .hover-effect-1 button span::before, .csstransforms3d .hover-effect-1 div span::before {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #e1b203;
  content: attr(data-hover);
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  transition: background 0.4s;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  transform-origin: 0 50%;
  pointer-events: none; }
.csstransforms3d .hover-effect-1 a:hover span::before, .csstransforms3d .hover-effect-1 a:focus span::before, .csstransforms3d .hover-effect-1 button:hover span::before, .csstransforms3d .hover-effect-1 button:focus span::before, .csstransforms3d .hover-effect-1 div:hover span::before, .csstransforms3d .hover-effect-1 div:focus span::before {
  background: #e1b203; }
.csstransforms3d .hover-effect-1 a:hover span.black:before, .csstransforms3d .hover-effect-1 a:focus span.black:before, .csstransforms3d .hover-effect-1 button:hover span.black:before, .csstransforms3d .hover-effect-1 button:focus span.black:before, .csstransforms3d .hover-effect-1 div:hover span.black:before, .csstransforms3d .hover-effect-1 div:focus span.black:before {
  background: #333;
  color: #fff; }

.hover-effect-1 button {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  padding: 0 15px; }
  .hover-effect-1 button span {
    min-height: 50px;
    line-height: 50px; }

.hover-effect-2 {
  position: relative;
  display: inline-block;
  margin: 15px 0px;
  outline: none;
  color: #333;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.1em; }
  .hover-effect-2:before, .hover-effect-2:after {
    display: inline-block;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s; }
  .hover-effect-2:before {
    margin-right: 20px;
    content: '[';
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    transform: translateX(10px); }
  .hover-effect-2:after {
    margin-left: 20px;
    content: ']';
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    transform: translateX(-10px); }
  .hover-effect-2:hover, .hover-effect-2:focus {
    text-decoration: none;
    outline: none; }
    .hover-effect-2:hover:before, .hover-effect-2:hover:after, .hover-effect-2:focus:before, .hover-effect-2:focus:after {
      opacity: 0;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      transform: translateX(0px); }
  .hover-effect-2 input[type="submit"] {
    box-shadow: none;
    background: transparent;
    border: 0; }

body#cart .hover-effect-1 a, body#cart .hover-effect-1 button {
  width: 150px; }
  body#cart .hover-effect-1 a span, body#cart .hover-effect-1 button span {
    -webkit-transform-origin: 50% 50% -75px;
    -moz-transform-origin: 50% 50% -75px;
    transform-origin: 50% 50% -75px;
    min-height: 40px;
    line-height: 40px; }

@media screen and (max-width: 767px) {
  body#homepage .hover-effect-1 a, body#homepage .hover-effect-1 button, body#homepage .hover-effect-1 div {
    width: 150px; } }
.home-page-container #content {
  display: none; }

#home-page #fixed-header-helper {
  display: none; }

.home-page-parallax {
  margin: 0 0 0px;
  z-index: 1; }
  .home-page-parallax .parallax-wrap {
    min-height: 300px;
    height: 100vh;
    background: #000; }
    .home-page-parallax .parallax-wrap .parallax-item {
      height: 100%;
      position: relative;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 1;
      position: relative; }
      .home-page-parallax .parallax-wrap .parallax-item.showing {
        opacity: 0.6;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
  .home-page-parallax h3 {
    font-size: 80px;
    font-weight: 300;
    padding: 0;
    margin: 0 0 20px 0;
    color: #fff;
    text-shadow: 0px 6px 3px #333; }
  .home-page-parallax .parallax-caption {
    padding-bottom: 150px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-content: flex-start;
    -moz-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    padding-left: 15%; }

@media screen and (max-width: 767px) {
  .home-page-parallax h3 {
    font-size: 50px; } }
