@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Oswald:400,500,700");
html {
  height: 100%; }

body {
  min-height: 100%;
  padding-bottom: 40px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  background: #fff; }

.body-container {
  min-height: 100%;
  position: relative; }

ul,
li,
dl,
dt,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: #000; }
  a:focus, a:visited {
    text-decoration: none; }
  a:hover {
    color: #0083c1;
    text-decoration: none; }
  a.link-blue {
    color: #0083c1; }
    a.link-blue:hover {
      color: #000; }

a:hover, a:focus, a:visited,
button:hover,
button:focus,
button:visited,
input:hover,
input:focus,
input:visited {
  outline: none; }

.body-section {
  padding-bottom: 40px; }

.body-content-row {
  padding-top: 40px; }
  @media (max-width: 767px) {
    .body-content-row {
      padding-top: 20px; } }

.button-primary {
  width: 100%;
  height: 44px;
  margin: 0;
  border: none;
  padding: 0;
  display: inline-block;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 46px;
  text-align: center;
  vertical-align: top;
  background: #000;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .button-primary.button-small {
    width: auto;
    padding: 0 25px; }
  .button-primary.button-white {
    border: solid 1px #000;
    color: #000;
    background: #fff; }
    .button-primary.button-white:hover {
      color: #fff;
      background: #000; }
  .button-primary:hover {
    color: #fff;
    background: #0083c1; }
  @media (max-width: 767px) {
    .button-primary.button-small {
      padding: 0 10px; } }

.section-heading {
  width: 100%;
  margin-bottom: 15px;
  color: #000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .section-heading.heading-white {
    color: #fff; }
  .section-heading.heading-center {
    text-align: center; }

.section-subtitle {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: solid 1px #e1e1e1;
  padding-bottom: 6px;
  font-size: 16px;
  font-weight: 700; }
  .section-subtitle.no-border {
    margin-bottom: 0;
    border-bottom: none; }

.custom-select-holder {
  width: 100%;
  height: 36px;
  display: inline-block;
  position: relative;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 36px;
  background: #0083c1; }
  .custom-select-holder.select-white {
    height: 40px;
    border: solid 1px #c7c7c7;
    color: #000;
    background: #fff; }
    .custom-select-holder.select-white .custom-select-arrow {
      border-top: solid 5px #000; }
    .custom-select-holder.select-white .custom-select {
      height: 40px; }
  .custom-select-holder .custom-select-arrow {
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-top: solid 5px #fff;
    position: absolute;
    top: 17px;
    right: 10px;
    z-index: 0; }
  .custom-select-holder .custom-select {
    width: 100%;
    height: 36px;
    padding: 0 20px 0 10px;
    border: none;
    position: relative;
    z-index: 1;
    cursor: pointer;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .custom-select-holder .custom-select:focus {
      outline: none; }

.form-label {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.global-input {
  width: 100%;
  height: 40px;
  border: solid 1px #c7c7c7;
  padding: 0 10px;
  font-size: 12px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }

ul.pagination {
  width: 100%;
  margin-top: 20px;
  border-top: solid 1px #c7c7c7;
  padding-top: 20px;
  display: table;
  text-align: center; }
  ul.pagination > li {
    display: inline-block; }
    ul.pagination > li:first-child a, ul.pagination > li:last-child a {
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0; }
    ul.pagination > li > a {
      margin-left: 5px;
      color: #000;
      font-family: "Oswald", sans-serif;
      font-size: 12px;
      font-weight: 300; }
      ul.pagination > li > a:hover {
        color: #fff;
        background: #0083c1; }
  ul.pagination > .active a {
    border-color: #0083c1;
    background: #0083c1; }
    ul.pagination > .active a:hover {
      pointer-events: none;
      border-color: #0083c1;
      background: #0083c1; }

.home-banner-section,
.hompage-slider-section {
  display: none; }

#home-page .home-banner-section,
#home-page .hompage-slider-section {
  display: block; }
@media (max-width: 767px) {
  #home-page .home-banner-section {
    display: none; } }

#breadcrumbs {
  margin: 10px 0 30px;
  padding: 0; }
  #breadcrumbs .breadcrumb {
    margin: 0;
    padding: 0;
    background: transparent;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0; }
  #breadcrumbs li {
    position: relative;
    padding-left: 10px; }
    #breadcrumbs li:before {
      content: '';
      width: 0;
      height: 0;
      border-top: solid 3px transparent;
      border-bottom: solid 3px transparent;
      border-left: solid 3px #000;
      position: absolute;
      top: 9px;
      left: 2px; }
    #breadcrumbs li:first-child {
      padding-left: 0; }
      #breadcrumbs li:first-child:before {
        display: none; }
    #breadcrumbs li.active a {
      color: #0083c1; }
  #breadcrumbs a {
    font-size: 12px;
    font-weight: 300; }
  @media (max-width: 767px) {
    #breadcrumbs {
      display: none; } }

#sidebar .sidebar-item {
  margin-bottom: 40px;
  border: solid 1px #e1e1e1; }
#sidebar .sidebar-title {
  border-bottom: solid 1px #e1e1e1;
  padding: 10px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background: #0083c1; }
#sidebar .sidebar-accordion-link {
  display: none; }
#sidebar .list-group {
  margin-bottom: 0; }
#sidebar .list-group-item {
  margin: 0;
  border: none;
  border-top: solid 1px #e1e1e1;
  padding: 10px;
  font-size: 13px; }
  #sidebar .list-group-item label {
    margin-bottom: 0;
    font-weight: normal; }
  #sidebar .list-group-item.active {
    color: #C14463;
    background: transparent; }
  #sidebar .list-group-item:first-child {
    border-top: none; }
  #sidebar .list-group-item:first-child, #sidebar .list-group-item:last-child {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0; }
  #sidebar .list-group-item:hover {
    color: #0083c1;
    background: transparent; }
#sidebar .sidebar-button {
  margin-top: 15px; }

@media (max-width: 767px) {
  .section-heading {
    font-size: 18px; }

  #breadcrumbs {
    margin-bottom: 0; }

  #sidebar {
    margin-bottom: 40px; }
    #sidebar .sidebar-item {
      margin-top: 20px;
      margin-bottom: 0; }
    #sidebar .list-group {
      display: none; }
    #sidebar .sidebar-accordion-link {
      display: block;
      color: #fff;
      text-align: right; }
      #sidebar .sidebar-accordion-link .icon-up {
        display: none; }
      #sidebar .sidebar-accordion-link.selected .icon-down {
        display: none; }
      #sidebar .sidebar-accordion-link.selected .icon-up {
        display: inline-block; } }
