$footer-color: rgba(255,255,255,0.6);
$footer-link-hover-color: rgba(255,255,255,1);
$footer-btm-color: #2e2e2e;
$footer-cmn-space : 30px;

@import '../core/mixins.scss';

footer {
  padding-top: $footer-cmn-space + 20px;
  color: $footer-color;
  font-size: 11px;
}
.user-view-choice {
  background: #000;
  font-size: 30px;
  color: #fff;
  text-align: center;
}
.footer-heading {
  padding-top: $footer-cmn-space;
  padding-bottom: $footer-cmn-space;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  @include transition(all 0.15s, ease-in-out);
  border-bottom: solid 1px #2e2e2e;

  &:hover {
    background: #df9300;
    color: #fff;
    text-decoration: none;
  }
}

.footer-btm-row {
  background: #0e0e0e;
  text-transform: uppercase;
  p {
    border-bottom: solid 1px $footer-btm-color;
    padding: 30px 0;
    margin: 0;
    line-height: 3;
    &.footer-social-links {
      font-size: 15px;
    }
  }
  a {
    color: inherit;
    font-weight: 300;
    padding: 0 5px;
    &:hover {
      color: $footer-link-hover-color;
    }
    .fa {
      margin-right: 10px;
    }
  }

}

@media(min-width: 767px) {
  .footer-heading {
    border-left: solid 1px #2e2e2e;
    + .footer-heading {
      border-top: none;
    }
  }
}
@media(max-width: 767px) {
  .user-view-choice{
    font-size:20px;
    a{
      padding-top:20px;
      padding-bottom:15px;
    }
  }
}
