/*
* all stylesheet files should be required in this manifest.
*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import "variables";
@import "global";
@import "global-header";
@import "global-footer";
@import "custom-font-icons";

/*Home page css*/
@import "slick-theme";
@import "slick";
@import "home";
