@import "variables.scss";

* {
  border-radius: 0 !important;
  outline: none !important;
  outline: hidden !important;
}

a {
  color: $secondary-black;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  > .alert {
    margin-bottom: 0;
  }
}

h1, h2, h3,  h5, h6, .h1, .h2, .h3, .h5, .h6 {
  font-weight: 300;
}
h1, .h1 {
  font-size: 30px;
}

b, strong, th, label {
  font-weight: $font-regular;
}

h4, .h4 {
  font-weight: $font-regular;
}
.pos-rel {
  position: relative;
}
.vmid {
  vertical-align: middle !important;
}
.well {
  background-color: $primary-white;
  border: solid 10px $grey-100;
  padding: 15px;
  margin-bottom: 40px;
  /*box-shadow: 0 0 0 1px #dfdfdf inset;*/
}
abbr,
abbr[title],
abbr[data-original-title] {
  text-decoration: none !important;
  border-bottom: none;
}
.form-control {
  border-color: $primary-border;
}
.line_item_quantity {
  min-width: 60px;
}
.lead {
  font-size: 16px;
}
.btn {
  font-weight: $font-light;
}
.btn.btn-primary {
  border-color: $primary-black !important;
  background-color: $secondary-black !important;
}
.btn.btn-success {
  border-color: $primary-hover !important;
  background-color: $primary-hover !important;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: calc(100vh - 375px);
}

.alert {
  border-radius: 0;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  &#errorExplanation {
    text-align: left;
    h3, h4, {
      margin-top: 0;
      font-size: 20px;
    }
    p {
      margin-bottom: 15px;
    }
    ul {
      list-style: dics;
      list-style-type: dics;
      li {
        padding: 1px 0 1px 5px;
      }
    }
  }

}

.pagination {
  display: flex;
  justify-content: center;
  li {
    display: block;
    border-top: solid 2px $grey-200;
    border-bottom: solid 2px $grey-200;
    a, span {
      border: none;
      padding: 3px 12px;
      font-size: 12px;
      font-weight: $font-regular;
      color: $secondary-black;
    }

  }
  > .active {
    a, span {
      background: none;
      color: $primary-hover;
      &:hover, &:focus {
        background: none;
        color: $primary-hover;
      }
    }
  }
}

.d-ib {
  display: inline-block;
}
.mt15 {
  margin-top: 15px;
}

a.il, .il a {
  text-decoration: underline;
  color: $primary-hover;
  &:hover {
    text-decoration: none;
    color: $secondary-black;
  }
}

.common-heading {
  font-size: 24px;
  font-weight: 300px;
  margin: 35px 0 40px 0;
  text-align: center;
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 50px;
    border-top: solid 3px $primary-hover;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: calc(100% + 5px);
  }
  &::first-letter {
    font-size: 150%;
    color: $primary-hover;
    font-family: 'Playfair Display', serif;
  }
}
.common-subheading {
  font-size: 14px;
  color: $grey-777;
  margin: -20px 0 40px 0;
  a {
    color: $primary-hover;
  }
}

.form-control {
  box-shadow: none !important;
  &.error {
    border-color: red !important;
  }
}
label.error {
  padding-top: 2px;
  font-weight: $font-light;
  color: red;
  font-size: 12px;
}
.panel.panel-default {
  border: none;
  box-shadow: none;
  .panel-heading {
    background: none;
    border: none;
    padding: 10px 0;
    .panel-title {
      font-size: 18px;
    }
  }
  .panel-body {
    padding: 15px 0;
  }
}

#products {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;

  padding: 0 5px;
  text-align: center;
  .product-list-item {
    width: calc(25% - 20px);
    max-width: 230px;
    min-width: 150px;
    padding: 25px 15px;
    margin: 10px;
    background-color: $primary-white;
    box-shadow: 0 0 3px 0 $primary-border;

    a {
      display: block;
      transition: all 0.5s ease;
      &:hover {
        transform: scale(1.05);
        color: $primary-hover !important;
        text-decoration: none;
      }
    }
    .info {
      display: block;
      padding: 5px 0 10px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.product_image_area {
  height: 230px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  img {
    max-height: 230px;
  }
}



.list-group {
  border-bottom: solid 1px $grey-200;
  .list-group-item {
    border-color: $primary-white;
    position: relative;
    &.active, &.active:hover {
      background-color: $grey-100;
      border: none;
      border-left: solid 5px $primary-hover;
      color: $primary-hover;
      font-weight: $font-regular;
    }
  }
}

.radio_check {
  input[type="radio"],
  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
  label {
    font-weight: $font-light;
    color: $secondary-black;
    padding-left: 20px;
    cursor: pointer;
    position: relative;
    font-size: 13px;
  }
  input[type="radio"] + label,
  input[type="checkbox"] + label {
    &:before {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      border: solid 1px $secondary-black;
      position: absolute;
      left: 0;
      top: 2px;
      background-color: $primary-white;
      box-shadow: 0 0 0 2px $primary-white inset;
    }
  }
  input[type="radio"] + label {
    &:before {
      border-radius: 50% !important;
    }
  }
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    font-weight: $font-regular;
    color: $primary-hover;
    &:before {
      background-color: $primary-hover;
    }
  }
  label {
    input[type="radio"] + span,
    input[type="checkbox"] + span {
      &:before {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      border: solid 1px $secondary-black;
      position: absolute;
      left: 0;
      top: 2px;
      background-color: $primary-white;
      box-shadow: 0 0 0 2px $primary-white inset;
      }
    }
    input[type="radio"]:checked + span,
    input[type="checkbox"]:checked + span {
      font-weight: $font-regular;
      color: $primary-hover;
      &:before {
        background-color: $primary-hover;
      }
    }
    input[type="radio"] + span {
      &:before {
        border-radius: 50% !important;
      }
    }
  }
}

.taxon-title {
  margin-top: 5px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: $primary-hover;
}

.subtaxon-title{
  font-size: 24px;
  font-weight: 300px;
  margin: 40px 0 20px 0;
  padding-top: 15px;
  border-top: solid 1px $grey-200;
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 30px;
    border-top: solid 2px $primary-hover;
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
  }
  &::first-letter {
    font-size: 130%;
    font-family: 'Playfair Display', serif;
  }
  a {
    &:hover {
      text-decoration: none;
      color: $primary-hover;
    }
  }
}
.similar_items {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding: 0 10px 5px 0;
    a {
      display: block;
      padding: 4px 12px;
      background-color: $grey-200;
      font-size: 12px;
      font-weight: $font-regular;
      transition: all .5s ease;
      &:hover {
        color: $primary-white;
        background-color: $primary-hover;
        text-decoration: none;
      }
    }
  }
}

.product-section-title {
  font-size: 24px !important;
  margin: 40px 0 10px 0;
}

table.table-striped {
  td, th {
    border-top: none !important;
  }
  th {
    background-color: $grey-200;
    color: $primary-black;
  }
}

.account-my-orders {
  h3 {
    margin-bottom: 30px;
  }
}
.product-variants-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  li {
    width: 50%;
    padding: 0 15px 10px 0;
  }
}

#main-image {
  .panel-body {
    height: 400px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    img {
      max-height: 400px;
    }
  }
}

.use_billing {
  position: absolute;
  right: 0;
  top: -37px;
}

.line-item-description {
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
}


@media (max-width: $tablet) {
  #products {
    .product-list-item {
      min-width: 230px;
    }
  }
  .line-item-description {
    width: 200px;
  }
}
@media (max-width: $mobile) {
  #breadcrumbs {
    display: none;
  }
  .progress-steps {
    margin-bottom: 20px;
    display: flex;
    display: -webkit-flex;
    font-size: 11px;
    border-radius: 30px !important;
    background-color: $grey-100;
    li {
      flex-grow: 1;
      -webkit-flex-grow: 1;
    }
    &.nav > li > a {
      padding: 4px 6px;
      margin: 0;
      border-radius: 30px !important;
    }
  }
  .use_billing {
    position: static;
  }
  .modal-open {
    position: fixed;
  }
}




