/*Font colors*/
$primary-black   : #000000;
$secondary-black : #333;

$primary-border  : #e1e1e1;
$primary-hover   : #EC7743;
$primary-white   : #ffffff;
$secondary-white : #f5f5f5;
$link-light      : #999999;
$text-light      : #9b9b9b;
$transparent     : rgba(0,0,0,0);

$grey-100        : #f4f4f4;
$grey-200        : #dfdfdf;
$grey-777        : #777;

$grey-100        : #f4f4f4;
$grey-200        : #dfdfdf;

$th-bg           : #fbe4d9;

/*font weight*/
$font-regular    : 400;
$font-light      : 300;
$font-bold       : 700;


/*Break Points*/
$desktop: 1199px;
$tablet: 991px;
$mobile: 767px;
$mobileSmall: 575px;



