$color-white: #fff;
$color-black: #000;
$light-grey-bg: #f7f7f9;
$dark-grey: #565656;
$link-maroon: #C14463;
$link-blue: #0083c1;
$border-grey: #c7c7c7;
$border-light-grey: #e1e1e1;
$light-grey-text: #999;
$border-grey-table: #ddd;

$full: 100%;

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Oswald', sans-serif;

$semiBold: 600;
$bold: 700;
