@import url("https://fonts.googleapis.com/css?family=Gudea:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");
.cart-section .cart-table {
  margin-top: 30px; }
.cart-section .cart-table-header {
  border-bottom: none;
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  background: transparent !important; }
.cart-section .line-item td {
  padding: 20px 8px; }
.cart-section .cart-item-image img {
  max-height: 80px; }
.cart-section .cart-item-description {
  font-weight: 300; }
  .cart-section .cart-item-description h4 {
    margin-bottom: 8px;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase; }
.cart-section .cart-item-price {
  color: #000;
  font-size: 16px; }
.cart-section .cart-item-quantity input {
  max-width: 100px;
  border: solid 1px #c7c7c7;
  font-size: 13px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }
.cart-section .cart-item-total {
  color: #000;
  font-size: 16px;
  font-weight: 700; }
.cart-section .cart-total-row {
  background: #f7f7f9; }
  .cart-section .cart-total-row td {
    padding: 20px 0; }
.cart-section .cart-coupon-block {
  padding-left: 20px !important; }
  .cart-section .cart-coupon-block input {
    width: 200px;
    height: 44px;
    border: solid 1px #000;
    display: inline-block;
    font-size: 13px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0; }
.cart-section .cart-total-text {
  padding-right: 10px !important;
  font-size: 16px; }
.cart-section .cart-total-block {
  font-size: 18px;
  font-weight: 700; }
.cart-section .cart-back-button-block {
  float: left; }
.cart-section .cart-update-button-block {
  padding-right: 0;
  float: right;
  text-align: right; }
.cart-section .cart-button-or-text {
  padding: 10px 10px 0;
  display: inline-block; }

@media (max-width: 767px) {
  .cart-section .cart-table {
    margin-top: 0; }
  .cart-section .cart-update-button-block {
    width: 100%;
    padding-left: 0;
    display: table;
    float: none;
    text-align: left; }
  .cart-section .cart-back-button-block {
    margin-top: 10px;
    border-top: solid 1px #c7c7c7;
    padding-top: 15px;
    text-align: center; }
    .cart-section .cart-back-button-block .button-primary.button-small {
      width: 100%; } }
