<div id="spree-header">
  <header id="header" data-hook>
    <div class="container-fluid theme-container relative">
      <div class="row no-margin">
        <figure id="logo" class="pull-left" data-hook>
          <%= logo %>
        </figure>
        <%= render partial: 'spree/shared/nav_bar' %>
        
        <div class="unite-menu">
          <% taxonomy = Spree::Taxonomy.first %>
          <ul class="unite-menu-list">
            <% taxonomy.root.children.each_with_index do |taxon, i| %>
              <li>
                <%= link_to taxon.name, nested_taxons_path(taxon.permalink)  %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="unite-menu-handler">
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </div>
      </div>
    </div>
  </header>
</div>

<script type="text/javascript">

  $(function(){
    $(".unite-menu-handler").click(function(){
      $("body").toggleClass( "main-menu-active");
    })
    $(".header-search .btn-helper").click(function(){
      $("body").addClass( "serach-header-active");
      $(".unite-overlay").addClass('search-active-overlay');
      $(".header-search").addClass('active');
    })

    $("body").on('click', '.search-active-overlay', function(){
      $("body").removeClass( "serach-header-active");
      $(".unite-overlay").removeClass('search-active-overlay');
      $(".header-search").removeClass('active');     
    })
    $(".header-search .btn-close").click(function(){
      $(".header-search").removeClass('active');
    })
  })
</script>
