<li id="main-nav-bar" class="inline-block" data-hook>
  <div id="link-to-cart" data-hook>
    <noscript>
      <%= link_to_cart %>
    </noscript>
  </div>
  <script>Spree.fetch_cart()</script>
</li>
