/*
* all stylesheet files should be required in this manifest.

*/
@import url("https://fonts.googleapis.com/css?family=Gudea:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Gudea:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Gudea:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Gudea:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Gudea:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Gudea:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Gudea:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Gudea:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Gudea:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");
html {
  height: 100%; }

body {
  min-height: 100%;
  padding-bottom: 50px;
  position: relative;
  font-family: "Roboto", sans-serif;
  background: #fff; }

.body-container {
  min-height: 100%;
  position: relative; }

ul,
li,
dl,
dt,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: #000; }
  a:focus, a:visited {
    text-decoration: none; }
  a:hover {
    color: #C14463;
    text-decoration: none; }

a:hover, a:focus, a:visited,
button:hover,
button:focus,
button:visited,
input:hover,
input:focus,
input:visited {
  outline: none; }

.body-section {
  padding-bottom: 40px; }

.body-content-row {
  padding-top: 40px; }

.button-primary {
  width: 100%;
  height: 44px;
  margin: 0;
  border: none;
  padding: 0;
  display: inline-block;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 46px;
  text-align: center;
  vertical-align: top;
  background: #000; }
  .button-primary.button-small {
    width: auto;
    padding: 0 25px; }
  .button-primary.button-white {
    border: solid 1px #000;
    color: #000;
    background: #fff; }
    .button-primary.button-white:hover {
      color: #fff; }
  .button-primary:hover {
    color: #fff;
    background: #C14463; }

.section-heading {
  width: 100%;
  border-bottom: solid 1px #c7c7c7;
  padding-bottom: 10px;
  color: #000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .section-heading.heading-white {
    color: #fff; }
  .section-heading.heading-center {
    text-align: center; }
  .section-heading.no-border {
    border: none; }
  .section-heading.no-spacing {
    padding-bottom: 0; }

.section-subtitle {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: solid 1px #e8e8e8;
  padding-bottom: 6px;
  font-family: "Oswald", sans-serif;
  font-size: 13px;
  font-weight: 700; }
  .section-subtitle.no-border {
    margin-bottom: 0;
    border-bottom: none; }

.custom-select-holder {
  width: 100%;
  height: 36px;
  display: inline-block;
  position: relative;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 36px;
  background: #C14463; }
  .custom-select-holder.select-white {
    height: 40px;
    border: solid 1px #c7c7c7;
    color: #000;
    background: #fff; }
    .custom-select-holder.select-white .custom-select-arrow {
      border-top: solid 5px #000; }
    .custom-select-holder.select-white .custom-select {
      height: 40px; }
  .custom-select-holder .custom-select-arrow {
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-top: solid 5px #fff;
    position: absolute;
    top: 17px;
    right: 10px;
    z-index: 2; }
  .custom-select-holder .custom-select {
    width: 100%;
    height: 36px;
    padding: 0 20px 0 10px;
    border: none;
    position: relative;
    z-index: 1;
    cursor: pointer;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .custom-select-holder .custom-select:focus {
      outline: none; }

.global-input {
  width: 100%;
  height: 40px;
  border: solid 1px #c7c7c7;
  padding: 0 10px;
  font-size: 12px; }

ul.pagination {
  width: 100%;
  margin-top: 20px;
  border-top: solid 1px #c7c7c7;
  padding-top: 20px;
  display: table;
  text-align: center; }
  ul.pagination > li {
    display: inline-block; }
    ul.pagination > li:first-child a, ul.pagination > li:last-child a {
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0; }
    ul.pagination > li > a {
      margin-left: 5px;
      color: #000;
      font-family: "Oswald", sans-serif;
      font-size: 12px;
      font-weight: 300; }
  ul.pagination > .active a {
    border-color: #C14463;
    background: #C14463; }
    ul.pagination > .active a:hover {
      pointer-events: none;
      border-color: #C14463;
      background: #C14463; }

.homepage-brand {
  display: none; }

#breadcrumbs {
  margin: 10px 0 30px;
  padding: 0; }
  #breadcrumbs .breadcrumb {
    margin: 0;
    padding: 0;
    background: transparent;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0; }
  #breadcrumbs li {
    position: relative;
    padding-left: 10px; }
    #breadcrumbs li:before {
      content: '';
      width: 0;
      height: 0;
      border-top: solid 3px transparent;
      border-bottom: solid 3px transparent;
      border-left: solid 3px #000;
      position: absolute;
      top: 9px;
      left: 2px; }
    #breadcrumbs li:first-child {
      padding-left: 0; }
      #breadcrumbs li:first-child:before {
        display: none; }
    #breadcrumbs li.active a {
      color: #C14463; }
  #breadcrumbs a {
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    font-weight: 300; }

#sidebar .sidebar-item {
  margin-bottom: 40px; }
#sidebar h4 {
  margin-top: 30px;
  border-bottom: solid 1px #c7c7c7;
  padding-bottom: 5px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase; }
  #sidebar h4:first-child {
    margin-top: 0; }
#sidebar .sidebar-accordion-link {
  display: none; }
#sidebar .list-group {
  margin-bottom: 0; }
#sidebar .list-group-item {
  margin: 0;
  border: none;
  border-bottom: solid 1px #e8e8e8;
  padding: 10px 0;
  font-family: "Oswald", sans-serif;
  font-size: 12px; }
  #sidebar .list-group-item label {
    margin-bottom: 0;
    font-weight: normal; }
  #sidebar .list-group-item.active {
    color: #C14463;
    background: transparent; }
  #sidebar .list-group-item:first-child, #sidebar .list-group-item:last-child {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0; }
  #sidebar .list-group-item:hover {
    color: #C14463;
    background: transparent; }
#sidebar .sidebar-button {
  margin-top: 15px; }

@media (max-width: 767px) {
  .section-heading {
    font-size: 18px; }

  #breadcrumbs {
    margin-bottom: 0; }

  #sidebar {
    margin-bottom: 40px; }
    #sidebar h4 {
      margin-top: 20px; }
    #sidebar .sidebar-item {
      margin-top: 20px;
      margin-bottom: 0; }
    #sidebar .list-group {
      display: none; }
    #sidebar .sidebar-accordion-link {
      display: block;
      text-align: right; }
      #sidebar .sidebar-accordion-link .icon-up {
        display: none; }
      #sidebar .sidebar-accordion-link.selected .icon-down {
        display: none; }
      #sidebar .sidebar-accordion-link.selected .icon-up {
        display: inline-block; } }
.global-header#spree-header {
  margin-bottom: 0;
  border-bottom: solid 1px #c7c7c7;
  background: #f7f7f9; }
  .global-header#spree-header #header {
    padding-top: 12px;
    padding-bottom: 0;
    background: #fff; }
.global-header .header-mobile-menu-block {
  display: none; }
.global-header .header-logo {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; }
  .global-header .header-logo b {
    color: #C14463; }
  .global-header .header-logo:hover {
    color: #000; }
.global-header .header-top-navbar {
  padding-top: 6px;
  text-align: right; }
.global-header .header-top-nav {
  margin-left: 15px;
  display: inline-block;
  vertical-align: top; }
.global-header .header-top-nav-link,
.global-header .cart-info {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .global-header .header-top-nav-link .amount,
  .global-header .cart-info .amount {
    display: none; }
.global-header .header-cart-link {
  position: relative; }
  .global-header .header-cart-link .header-cart-count {
    height: 12px;
    padding: 0 3px;
    display: inline-block;
    color: #fff;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0;
    vertical-align: super;
    background: #C14463;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%; }

.header-mobile-cart-block {
  display: none; }

.header-primary-nav-row {
  padding: 10px 0; }

.header-primary-nav .header-primary-nav-block {
  padding-top: 7px; }
.header-primary-nav .header-primary-nav-holder {
  margin-left: 20px;
  display: inline-block;
  position: relative; }
  .header-primary-nav .header-primary-nav-holder:first-child {
    margin-left: 0; }
.header-primary-nav .header-primary-nav-link {
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  font-weight: 400; }

.header-search {
  text-align: right; }
  .header-search .header-search-block {
    float: right; }
  .header-search .custom-select-holder {
    width: 120px;
    float: left; }
    .header-search .custom-select-holder .custom-select {
      background: #C14463; }
  .header-search .header-search-input {
    width: 250px;
    height: 36px;
    border: solid 1px #000;
    border-left: none;
    padding: 0 10px;
    display: inline-block;
    float: left;
    font-size: 12px;
    background: #fff; }
  .header-search .header-search-button {
    height: 36px;
    border: none;
    padding: 0 12px;
    float: left;
    color: #fff;
    line-height: 36px;
    background: #000; }

@media (min-width: 768px) {
  .header-mobile-search-block {
    width: 100%; } }
@media (max-width: 767px) {
  .global-header .header-logo {
    font-size: 16px; }
  .global-header .header-mobile-menu-block {
    display: inline-block; }
  .global-header .header-mobile-menu {
    font-size: 16px; }

  .header-primary-nav,
  .header-top-navbar {
    display: none; }

  .header-search {
    text-align: left; }
    .header-search .header-search-block {
      width: 100%;
      float: left; }
    .header-search .custom-select-holder {
      display: none; }
    .header-search .header-search-input {
      width: 82%;
      border-left: solid 1px #000;
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0; }
    .header-search .header-search-button {
      margin-left: -4px; }

  .header-mobile-cart-block {
    padding-top: 5px;
    padding-left: 0;
    display: block;
    text-align: right; }
    .header-mobile-cart-block .glyphicon {
      display: none; } }
.header-mobile-nav-dropdown {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .header-mobile-nav-dropdown.visible {
    right: 0; }
  .header-mobile-nav-dropdown .header-mobile-dropdown-close {
    position: absolute;
    top: 12px;
    right: 11px;
    color: #fff;
    font-size: 24px; }
  .header-mobile-nav-dropdown .header-mobile-nav-holder {
    width: 86%;
    height: 100%;
    padding: 20px 15px;
    position: absolute;
    top: 0;
    left: 0;
    background: #C14463; }
  .header-mobile-nav-dropdown .header-top-nav {
    width: 100%;
    border-bottom: solid 1px #f7f7f9;
    margin-left: 0;
    text-align: left; }
  .header-mobile-nav-dropdown .header-top-nav-link {
    padding: 8px 0;
    display: block;
    color: #fff;
    font-size: 13px; }
    .header-mobile-nav-dropdown .header-top-nav-link .glyphicon {
      display: none; }

.global-footer {
  width: 100%;
  height: 50px;
  padding: 15px 0;
  display: table;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-weight: 300;
  background: #000; }
  .global-footer .footer-right {
    text-align: right; }
  .global-footer .footer-link {
    margin-left: 20px;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase; }
    .global-footer .footer-link:hover {
      color: #C14463; }
    .global-footer .footer-link:first-child {
      margin-left: 0; }

@media (max-width: 767px) {
  .global-footer {
    font-size: 12px; }
    .global-footer .footer-right {
      margin-top: 10px;
      text-align: left; }
    .global-footer .footer-link {
      margin-left: 15px; } }
.product-block {
  height: 240px;
  margin-bottom: 40px; }
  .product-block .product-holder:hover .product-title {
    color: #C14463; }
  .product-block .product-image-block {
    width: 100%;
    height: 160px;
    display: table;
    background: #f7f7f9; }
  .product-block .product-image-holder {
    width: 100%;
    height: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
  .product-block .product-image {
    max-width: 100%;
    max-height: 140px; }
  .product-block .product-content-block {
    margin-top: 15px; }
  .product-block .product-title {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    font-weight: 300; }
  .product-block .product-price-block {
    margin-top: 8px;
    font-weight: 600; }
  @media (max-width: 767px) {
    .product-block {
      height: 160px;
      margin-bottom: 24px; }
      .product-block .product-image-block {
        height: 100px; }
      .product-block .product-image {
        max-height: 80px; }
      .product-block .product-content-block {
        margin-top: 5px; }
      .product-block .product-price-block {
        margin-top: 5px;
        font-size: 12px; } }

#home-page .homepage-brand {
  display: block; }

.homepage-brand {
  width: 100%;
  padding: 50px 0 20px;
  background: #f7f7f9; }

.homepage-brand-section {
  margin-top: 30px;
  text-align: center; }
  .homepage-brand-section .homepage-brand-block {
    width: calc(25% - 5px);
    margin-bottom: 60px;
    padding: 0 15px;
    display: inline-block; }
    .homepage-brand-section .homepage-brand-block:hover .homepage-brand-image-block {
      border-color: #C14463; }
    .homepage-brand-section .homepage-brand-block:hover .homepage-brand-title {
      color: #C14463; }
  .homepage-brand-section .homepage-brand-image-block {
    width: 100%;
    height: 160px;
    border: solid 1px #000;
    display: table; }
  .homepage-brand-section .homepage-brand-image-holder {
    width: 100%;
    height: 160px;
    padding: 10px;
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
  .homepage-brand-section .homepage-brand-image {
    max-width: 100%;
    max-height: 100%; }
  .homepage-brand-section .homepage-brand-title {
    margin-top: 10px;
    display: block;
    color: #000;
    font-size: 16px;
    font-weight: 300; }

@media (max-width: 767px) {
  .homepage-brand {
    padding: 30px 0 0; }

  .homepage-brand-section {
    margin-top: 20px; }
    .homepage-brand-section .homepage-brand-block {
      width: calc(50% - 5px);
      margin-bottom: 30px; }
    .homepage-brand-section .homepage-brand-image-block,
    .homepage-brand-section .homepage-brand-image-holder {
      height: 120px; }
    .homepage-brand-section .homepage-brand-title {
      font-size: 13px; } }
.product-image-section .product-image-block {
  width: 100%;
  height: 400px;
  display: table;
  background: #f7f7f9; }
.product-image-section .product-image-holder {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: table-cell;
  text-align: center;
  vertical-align: middle; }
.product-image-section .product-main-image {
  max-width: 100%;
  max-height: 360px; }
.product-image-section .product-thumbnails {
  margin-top: 20px;
  text-align: center; }
  .product-image-section .product-thumbnails li {
    margin-bottom: 20px; }
  .product-image-section .product-thumbnails .thumbnail {
    margin-bottom: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0; }

.product-properties-section .product-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 300; }
.product-properties-section .product-price-variant-block {
  width: 100%;
  margin-top: 20px;
  display: table; }
.product-properties-section .product-price-block {
  font-size: 18px;
  font-weight: 500; }
.product-properties-section .product-variant-section {
  margin-top: 20px;
  border: solid 1px #c7c7c7;
  padding: 20px;
  background: #f7f7f9; }
.product-properties-section .product-section-title {
  border-bottom: solid 1px #c7c7c7;
  padding-bottom: 8px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px; }
.product-properties-section .product-variant-block {
  width: 100%;
  margin-top: 20px;
  display: table; }
  .product-properties-section .product-variant-block li {
    width: 50%;
    padding: 10px 0;
    float: left; }
.product-properties-section .product-cart-block {
  margin-top: 20px; }
.product-properties-section .product-qty-text {
  padding-top: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px; }
.product-properties-section .product-qty-input {
  width: 100%;
  height: 42px;
  border: solid 1px #c7c7c7;
  padding: 0 10px; }

.product-bottom-block {
  margin-top: 20px;
  border-top: solid 1px #c7c7c7;
  padding-top: 30px; }
  .product-bottom-block .product-properties-section {
    margin-top: 40px;
    border: solid 1px #c7c7c7;
    padding: 20px;
    background: #f7f7f9; }
    .product-bottom-block .product-properties-section .product-section-title {
      border-bottom: none; }
    .product-bottom-block .product-properties-section .table {
      margin-bottom: 0; }
  .product-bottom-block .product-similar-items-block {
    margin-top: 40px; }
    .product-bottom-block .product-similar-items-block .similar-items-block {
      margin-top: 15px; }
      .product-bottom-block .product-similar-items-block .similar-items-block a {
        color: #000;
        font-family: "Oswald", sans-serif;
        font-size: 16px;
        font-weight: 700; }
        .product-bottom-block .product-similar-items-block .similar-items-block a:hover {
          color: #C14463; }
  .product-bottom-block .product-similar-items-row {
    margin-top: 20px; }

@media (max-width: 767px) {
  .product-image-section .product-image-block {
    height: 200px; }
  .product-image-section .product-main-image {
    max-height: 160px; }

  .product-properties-section .product-title {
    font-size: 18px; }
  .product-properties-section .product-price-variant-block {
    margin-top: 10px; }
  .product-properties-section .product-price-block {
    font-size: 14px; }
  .product-properties-section .product-variant-section {
    margin-top: 10px;
    padding: 10px; }
  .product-properties-section .product-section-title {
    font-size: 13px; }
  .product-properties-section .product-variant-block {
    margin-top: 10px; }
    .product-properties-section .product-variant-block li {
      padding: 5px 0; }
    .product-properties-section .product-variant-block label {
      font-size: 11px;
      font-weight: 300; } }
.cart-section .cart-table {
  margin-top: 30px; }
.cart-section .cart-table-header {
  border-bottom: none;
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  background: transparent !important; }
.cart-section .line-item td {
  padding: 20px 8px; }
.cart-section .cart-item-image img {
  max-height: 80px; }
.cart-section .cart-item-description {
  font-weight: 300; }
  .cart-section .cart-item-description h4 {
    margin-bottom: 8px;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase; }
.cart-section .cart-item-price {
  color: #000;
  font-size: 16px; }
.cart-section .cart-item-quantity input {
  max-width: 100px;
  border: solid 1px #c7c7c7;
  font-size: 13px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }
.cart-section .cart-item-total {
  color: #000;
  font-size: 16px;
  font-weight: 700; }
.cart-section .cart-total-row {
  background: #f7f7f9; }
  .cart-section .cart-total-row td {
    padding: 20px 0; }
.cart-section .cart-coupon-block {
  padding-left: 20px !important; }
  .cart-section .cart-coupon-block input {
    width: 200px;
    height: 44px;
    border: solid 1px #000;
    display: inline-block;
    font-size: 13px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0; }
.cart-section .cart-total-text {
  padding-right: 10px !important;
  font-size: 16px; }
.cart-section .cart-total-block {
  font-size: 18px;
  font-weight: 700; }
.cart-section .cart-back-button-block {
  float: left; }
.cart-section .cart-update-button-block {
  padding-right: 0;
  float: right;
  text-align: right; }
.cart-section .cart-button-or-text {
  padding: 10px 10px 0;
  display: inline-block; }

@media (max-width: 767px) {
  .cart-section .cart-table {
    margin-top: 0; }
  .cart-section .cart-item-quantity {
    min-width: 80px; }
  .cart-section .cart-update-button-block {
    width: 100%;
    padding-left: 0;
    display: table;
    float: none;
    text-align: left; }
  .cart-section .cart-back-button-block {
    margin-top: 10px;
    border-top: solid 1px #c7c7c7;
    padding-top: 15px;
    text-align: center; }
    .cart-section .cart-back-button-block .button-primary.button-small {
      width: 100%; } }
.checkout-section .checkout-progress-block {
  margin-top: 20px;
  border: solid 1px #c7c7c7;
  padding: 15px;
  background: #f7f7f9; }
  .checkout-section .checkout-progress-block .progress-steps {
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .checkout-section .checkout-progress-block li {
    width: 100%;
    float: left;
    text-align: center; }
    .checkout-section .checkout-progress-block li.active {
      background: #000; }
      .checkout-section .checkout-progress-block li.active a {
        font-family: "Oswald", sans-serif;
        font-size: 13px;
        font-weight: 300;
        text-transform: uppercase;
        background: transparent; }
  .checkout-section .checkout-progress-block .nav-pills > li + li {
    margin-left: 0; }
  .checkout-section .checkout-progress-block .nav-pills > li a {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0; }
    .checkout-section .checkout-progress-block .nav-pills > li a:hover {
      background: transparent; }
.checkout-section .checkout-content-section {
  margin-top: 30px; }
.checkout-section #checkout-summary {
  width: 100%;
  float: right; }
.checkout-section .checkout-left-section {
  width: 100%;
  float: left; }
.checkout-section .checkout-user-email-block {
  margin-top: 30px; }
.checkout-section .checkout-address-save-block {
  padding-top: 10px; }
.checkout-section .checkout-address-button-row {
  margin-top: 30px;
  border-top: solid 1px #c7c7c7;
  padding-top: 20px; }

.checkout-address-form {
  margin-top: 30px; }
  .checkout-address-form .checkout-billing-address-block {
    margin-top: 20px; }
  .checkout-address-form .checkout-address-form-row {
    margin-top: 20px; }
    .checkout-address-form .checkout-address-form-row:first-child {
      margin-top: 0; }
    .checkout-address-form .checkout-address-form-row label {
      display: block;
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase; }
      .checkout-address-form .checkout-address-form-row label abbr {
        border-bottom: none; }
  .checkout-address-form .checkout-form-hint-link {
    font-size: 11px;
    font-weight: 300;
    text-transform: none; }

.checkout-shipping-address-form {
  margin-top: 50px; }

.checkout-summary-block {
  border: solid 1px #c7c7c7;
  padding: 15px;
  background: #f7f7f9; }
  .checkout-summary-block .checkout-order-summery-total {
    color: #000;
    font-size: 18px; }

.checkout-delivery-section {
  margin-top: 30px; }
  .checkout-delivery-section .checkout-delivery-block {
    margin-top: 20px; }
  .checkout-delivery-section .checkout-devivery-block-title {
    font-family: "Oswald", sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase; }
  .checkout-delivery-section .checkout-delivery-table {
    margin-top: 20px; }
    .checkout-delivery-section .checkout-delivery-table th {
      border-bottom: solid 1px #c7c7c7 !important;
      font-family: "Oswald", sans-serif;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      background: transparent !important; }
  .checkout-delivery-section .checkout-delivery-shipping-row {
    border-top: solid 1px #f7f7f9;
    padding: 10px 0; }
    .checkout-delivery-section .checkout-delivery-shipping-row:first-child {
      border-top: none; }
    .checkout-delivery-section .checkout-delivery-shipping-row label {
      margin-bottom: 0;
      font-size: 13px;
      font-weight: 300; }

.checkout-payment-section {
  margin-top: 30px; }
  .checkout-payment-section .checkout-payment-block {
    margin-top: 20px; }
  .checkout-payment-section .checkout-payment-card-options {
    margin-right: 20px; }

.checkout-order-section .checkout-order-block {
  margin-top: 20px; }
.checkout-order-section .checkout-order-details-block {
  padding: 10px;
  background: #f7f7f9; }
.checkout-order-section .checkout-order-itmes-table {
  margin-top: 30px; }

.checkout-user-section {
  margin-top: 30px; }

#checkout_form_confirm .well {
  margin: 0;
  margin-top: 30px;
  border: none;
  border-top: solid 1px #c7c7c7;
  padding: 0;
  padding-top: 20px;
  background-color: transparent;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }
  #checkout_form_confirm .well .btn.btn-lg.btn-success {
    width: 50%;
    height: 44px;
    margin: 0;
    border: none;
    padding: 0;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 46px;
    background: #000;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0; }
    #checkout_form_confirm .well .btn.btn-lg.btn-success:hover {
      background: #C14463; }

@media (max-width: 767px) {
  .checkout-section .checkout-progress-block {
    padding: 10px; }
    .checkout-section .checkout-progress-block li {
      width: 100%; }
    .checkout-section .checkout-progress-block .nav-pills > li a {
      margin-bottom: 0;
      padding: 6px 0;
      font-size: 11px; }

  .checkout-left-section {
    margin-top: 30px; }

  .checkout-address-form .checkout-address-form-row {
    margin-top: 0; }
  .checkout-address-form .checkout-address-form-block {
    margin-top: 15px; }

  .checkout-address-form {
    margin-top: 20px; }
    .checkout-address-form .checkout-address-form-row {
      margin-top: 20px; }
      .checkout-address-form .checkout-address-form-row .col-md-4.field {
        margin-top: 20px; }

  .checkout-payment-section .checkout-payment-card-options {
    margin: 0 0 0 10px;
    display: block; }

  .checkout-order-section .checkout-order-details-block {
    margin-top: 20px; }
  .checkout-order-section .checkout-order-buttons-row .button-primary.button-small {
    width: 100%;
    margin-top: 10px;
    text-align: center; } }
.login-section {
  border-right: solid 1px #c7c7c7;
  padding-top: 20px;
  padding-bottom: 20px; }
  .login-section.no-border {
    border-right: none; }
  .login-section.no-spacing {
    padding-top: 0; }
  .login-section .login-form-section {
    margin-top: 30px; }
  .login-section .login-form-row {
    margin-top: 20px; }
    .login-section .login-form-row label {
      margin-bottom: 0;
      font-weight: 300; }
    .login-section .login-form-row:first-child {
      margin-top: 0; }

.login-other-section {
  padding-top: 100px; }
  .login-other-section .login-form-row {
    margin-top: 20px; }

.user-section .user-email-block {
  margin-top: 20px;
  border: solid 1px #c7c7c7;
  padding: 10px;
  background: #f7f7f9; }
.user-section .user-email-edit-link {
  color: #C14463;
  font-size: 12px;
  font-weight: 700; }
  .user-section .user-email-edit-link:hover {
    color: #000; }
.user-section .user-orders-block {
  margin-top: 40px; }
.user-section .user-orders-table th {
  border-width: 1px;
  font-size: 12px;
  white-space: nowrap; }
.user-section .user-orders-table td {
  font-size: 13px; }
.user-section .user-orders-table .order-total {
  font-weight: 700; }
.user-section .user-orders-table .order-number a {
  color: #C14463; }
  .user-section .user-orders-table .order-number a:hover {
    color: #000; }

@media (max-width: 767px) {
  .login-section {
    border-right: none; }

  .login-other-section {
    padding-top: 10px; } }
