<div class="row global-footer">
  <div class="col-sm-6 border-top">
    <h4 class="footer-heading">Social</h4>
    <ul class="footer-links">
      <li><a href="javascript:void(0);">FACEBOOK</a></li>
      <li><a href="javascript:void(0);">TWITTER</a></li>
      <li><a href="javascript:void(0);">INSTAGRAM</a></li>
    </ul>
  </div>
  <div class="col-sm-6 border-top text-right-md-sm">
    <h4 class="footer-heading"><%= image_tag asset_path('logo-icon.png'), class: 'footer-favicon'%></h4>
    <ul class="footer-links">
      <li>&copy; 2017 - THEME ALL RIGHT RESERVED</li>
      <li><a href="javascript:void(0);">TERMS OF USE</a></li>
      <li><a href="javascript:void(0);">CONTACT US</a></li>
      <li><a href="javascript:void(0);">FAQ'S</a></li>
    </ul>
  </div>
</div>
