@import 'variables';
@import 'mixins';
@import 'custom-buttons';


body{
  font-family:$font-stack;
  background-color: $wh-color !important;
}
#spree-header{
  position: absolute;
  top:0;
  left:0;
  z-index: 2;
  background-color: transparent;
  height: 100vh;
  width:41%;
  overflow-y:hidden;
  transition: 1s;
  &:before{
    background-color:rgba(255,255,255,0.6);
    color:#fff;
    padding:0px 0px 0;
    margin-bottom:0px;
    height: 100vh;
    position: absolute;
    top:-25%;
    left: -19%;
    z-index: -1;
    border-radius:50% / 50%;
    height:150%;
    width:118%;
    content: '';
  }

  #header{
    background-color:transparent;
    padding:0px;
    width:calc(100% - 30px);
    .top-header{
      background-color:#000;
      padding:10px 0px 0;
    }
  }
  .header-helper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100vh;
  }
  select#taxon{
    display: none;
  }
  #nav-bar{
    display: block;
    text-align: center;
    float: none;

    li{
      display: inline-block;
      float: none;
      vertical-align: middle;
      a{
        color: #000 !important;
        font-weight: bold;
        border-bottom: 1px dashed #000;
        border-top: 1px dashed #000;
        &:hover, &:focus{
          background:rgba(255,255,255, 0.7);
        }
      }
      nav{
        margin: 0;
        padding: 0;
      }
    }
  }
}

#logo{
  margin-left:15px;
  margin-bottom: 0;
  margin-right: 10px;
  position: relative;
  z-index: 1;
  background: url(/vinsol_spree_themes/current/images/logo/crown-logo.png)  no-repeat;
  background-size: contain;
  background-position: center;
  a {
    width:398px;
    height: 150px;
    display: block;
    background: url(/vinsol_spree_themes/current/images/logo/crown-logo.png) 0 0 no-repeat;
    background-size: auto;
    background-position: center;
    opacity: 0;
    @include transition(opacity, 0.2s);

    img {
      display: none;
    }
  }
}
.head-nav{
  .sidebar-item{
    display: inline-block;
    h4{
      display: none;
    }
    .list-group{
      background-color: transparent;
      padding: 0;
      a{
        display: inline-block;
        border-bottom: transparent;
        &:before{
          content:'\f2da';
          font-size: 12px;
          top:12px;
        }
      }
    }
  }
}
#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);

  opacity: 0;
  overflow: hidden;
  &.open{
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
  }
  form{
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(0,0,0,0.6);
  }
  .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    border-color: #357ebd;
    opacity: 1;
    padding: 10px 17px;
    font-size: 50px;
  }
  input[type="search"] {
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    border-bottom: 1px solid #474644;
    margin: 50px auto;
    outline: none;
    text-transform: uppercase;
    &.form-control{
      height: 60px;
      display: block;
    }
  }
}

.sticky {
  &#spree-header{
    position: fixed;
    height: 200px;
    width: 100%;
    top:0;
    overflow-y: visible;
    transition: 1s;
    &:before{
      width:120%;
      top:-110%;
      height:175%;
      z-index: -1;
      left: -10%;
      background-color: rgba(255,255,255,0.95);
      box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
    }
    #header{
      width:100%;
      margin:0px;
    }
    .header-helper{
      height: 100%;
    }
    #logo{

      a{
        height: 45px;
        margin-top: 10px;
      }
    }
    .navbar{
      min-height: 30px;
    }
    #nav-bar{
      width:50%;
      margin:0px auto;
      a{
        padding-top:8px;
        padding-bottom:8px;
      }
    }
  }
}


body#product-details, body#checkout-page, body#cart, body#default{
  #spree-header{
    position: fixed;
    height: 200px;
    width: 100%;
    top:0;
    overflow-y: visible;
    transition: 1s;
    z-index: 9;
    &:before{
      width:120%;
      top:-110%;
      height:175%;
      z-index: -1;
      left: -10%;
      background-color: rgba(255,255,255,0.95);
      box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
    }
    #header{
      width:100%;
      margin:0px;
    }
    .header-helper{
      height: 100%;
    }
    #logo a{
      height: 45px;
      margin-top:10px;
    }
    .navbar{
      min-height: 30px;
    }
    #nav-bar{
      width:50%;
      margin:0px auto;
      a{
        padding-top:8px;
        padding-bottom:8px;
      }
    }
  }
  .container.theme-container{
    padding-top:175px;
  }

}
@media screen and (min-width:768px) and (max-width: 991px){
  #spree-header{
    width:65%;
    #nav-bar{
      width:100% !important;
    }

  }
  body#login, body#signup{
    background-color: #000 !important;
    #content{
      position: relative !important;
    }
  }
}
#errorExplanation{
  padding: 15px;
  h3{
    font-size: 14px;
    margin-top: 0px;

  }
  p{
    font-size: 12px;
  }
  ul > li{
    font-size: 12px;
  }
  br{
    display: none;
  }
}
@media screen and (max-width:767px){
  #spree-header{
    width:100%;
    #header{
      width:100%;
    }
    #logo a{
      width:200px;
      height: 75px;
    }
    .navbar-toggle{
      background-color: #000;
    }

    .navbar-nav{
      display: inline-block;
      a{
        padding:10px 20px;
      }
    }
  }
  body#product-details, body#checkout-page, body#cart, body#default {
    #spree-header{
      height: auto;
      &:before{
        top:-50%;
        height:200%;
        z-index: -1;
        left: -10%;
        background-color: rgba(255,255,255,0.95);
        box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
      }
      .navbar-header{
        position: absolute;
        right: 15px;
        top: 34px;
        .navbar-toggle{
          background-color: transparent;
          width: 30px;
          height: 25px;
          position: relative;
          margin: 0px auto;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .5s ease-in-out;
          -moz-transition: .5s ease-in-out;
          -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
          cursor: pointer;
          span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: #000;
            border-radius: 0px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            &:nth-child(1) {
              top: 0px;
            }
            &:nth-child(2) {
              top: 8px;
            }
            &:nth-child(3) {
              top: 16px;
            }
          }
          &.open{
            span{
              &:nth-child(1) {
                top: 10px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
              }
              &:nth-child(2) {
                opacity: 0;
                left: -20px;
              }
              &:nth-child(3) {
                top: 10px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
              }
            }
          }
        }
      }
      .navbar{
        display: none;
      }
      .navbar-nav{
        display:block;
        width:100% !important;
        margin:0 0 0;
        li{
          display: block;
          a{
            padding:10px 20px;
            border-bottom:0;
          }
          &#search-bar{
            a{
              border-bottom: 1px dashed #000;
            }
          }
        }
      }
    }
    .container.theme-container{
      padding-top:105px;
    }
  }
  body#login, body#signup{
    background-color: #000 !important;
    #content{
      position: relative !important;
    }
  }
  body#home-page, body#login, body#signup{
    .navbar-header{
      display: NONE;
    }
    .sticky{
      &#spree-header{
        height: auto;
        &:before{
          top:-50%;
          height:200%;
          z-index: -1;
          left: -10%;
          background-color: rgba(255,255,255,0.95);
          box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
        }
        .navbar-header{
          position: absolute;
          right: 15px;
          top: 34px;
          display: block;
          .navbar-toggle{
            background-color: transparent;
            width: 30px;
            height: 25px;
            position: relative;
            margin: 0px auto;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
            span {
              display: block;
              position: absolute;
              height: 2px;
              width: 100%;
              background: #000;
              border-radius: 0px;
              opacity: 1;
              left: 0;
              -webkit-transform: rotate(0deg);
              -moz-transform: rotate(0deg);
              -o-transform: rotate(0deg);
              transform: rotate(0deg);
              -webkit-transition: .25s ease-in-out;
              -moz-transition: .25s ease-in-out;
              -o-transition: .25s ease-in-out;
              transition: .25s ease-in-out;
              &:nth-child(1) {
                top: 0px;
              }
              &:nth-child(2) {
                top: 8px;
              }
              &:nth-child(3) {
                top: 16px;
              }
            }
            &.open{
              span{
                &:nth-child(1) {
                  top: 10px;
                  -webkit-transform: rotate(135deg);
                  -moz-transform: rotate(135deg);
                  -o-transform: rotate(135deg);
                  transform: rotate(135deg);
                }
                &:nth-child(2) {
                  opacity: 0;
                  left: -20px;
                }
                &:nth-child(3) {
                  top: 10px;
                  -webkit-transform: rotate(-135deg);
                  -moz-transform: rotate(-135deg);
                  -o-transform: rotate(-135deg);
                  transform: rotate(-135deg);
                }
              }
            }
          }
        }
        .navbar{
          display: none;
        }
        .navbar-nav{
          display:block;
          width:100% !important;
          margin: 0;
          li{
            display: block;
            a{
              padding:10px 20px;
              border-bottom:0;
            }
            &#search-bar{
              a{
                border-bottom: 1px dashed #000;
              }
            }
          }
        }
      }
    }
  }
  #search input[type="search"].form-control{
    height:40px;
    line-height:40px;
    font-size: 20px;
    text-transform: unset;
  }
}






