<footer class="global-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 footer-left">Copyright &copy; 2017. All rights reserved.</div>
      <div class="col-sm-6 footer-right">
<!--         <a href="javascript:" class="footer-link">About us</a>
        <a href="javascript:" class="footer-link">Contact us</a>
        <a href="javascript:" class="footer-link">Privacy</a>
        <a href="javascript:" class="footer-link">Terms</a>
 -->      </div>
    </div>
  </div>
</footer>
