<nav class="row header-primary-nav-row">
  <div class="col-sm-6 header-primary-nav">
    <ul class="header-primary-nav-block" data-hook>
      <li id="home-link" class="header-primary-nav-holder" data-hook><%= link_to Spree.t(:home), spree.root_path, class: 'header-primary-nav-link' %></li>
      <!-- <li class="header-primary-nav-holder"><a href="javascript:" class="header-primary-nav-link">Category 1</a></li>
      <li class="header-primary-nav-holder"><a href="javascript:" class="header-primary-nav-link">Category 2</a></li>
      <li class="header-primary-nav-holder"><a href="javascript:" class="header-primary-nav-link">Category 3</a></li>
      <li class="header-primary-nav-holder"><a href="javascript:" class="header-primary-nav-link">Category 4</a></li>
      <li class="header-primary-nav-holder"><a href="javascript:" class="header-primary-nav-link">Category 5</a></li> -->
    </ul>
  </div>

  <div class="col-sm-6 header-search">
    <div class="row">
      <div class="col-xs-8 header-mobile-search-block">
        <%= render partial: 'spree/shared/search' %>
      </div>
      <div class="col-xs-4 header-mobile-cart-block">
        <!-- <a href="javascript:" class="header-top-nav-link header-cart-link">
          <span class="glyphicon glyphicon-shopping-cart"></span>
          Cart
          <span class="header-cart-count">0</span>
        </a> -->
        <%= link_to_cart %>
      </div>
  </div>
</nav>

