<% if adjustments.sum(&:amount) != 0 %>
  <tr class="adjustment">
    <td colspan="4" align='right'><%= type %>: <%= label %></td>
    <td colspan='2'>
      <h5><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></h5>
    </td>
  </tr>
<% end %>
