<footer class="global-footer">
  <div class="collapse toggle-area" id="collapseExample">
    <div class="container mt50 mb50">
      <div class="row">
        <div class="col-sm-4">

          <ul class="social">
            <li>
              <a href="javascript:void(0);" class="fa fa-facebook"></a>
            </li>
            <li>
              <a href="javascript:void(0);" class="fa fa-twitter"></a>
            </li>
            <li>
              <a href="javascript:void(0);" class="fa fa-instagram"></a>
            </li>
            <li>
              <a href="javascript:void(0);" class="fa fa-youtube-square"></a>
            </li>
          </ul>

        </div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-3">
              <h4 class="decorated-heading">
                <span>Company</span>
              </h4>
              <ul class="footer-nav">
                <li><a href="javascript:void(0);">Contact Us</a></li>
                <li><a href="javascript:void(0);">About Us</a></li>
              </ul>
            </div>
            <div class="col-sm-3">
              <h4 class="decorated-heading">
                <span>Need Help</span>
              </h4>
              <ul class="footer-nav">
                <li><a href="javascript:void(0);">Help &amp; FAQ</a></li>
                <li><a href="javascript:void(0);">Track Order</a></li>
                <li><a href="javascript:void(0);">Store Locator</a></li>
              </ul>
            </div>
            <div class="col-sm-3">
              <h4 class="decorated-heading">
                <span>More Info</span>
              </h4>
              <ul class="footer-nav">
                <li><a href="javascript:void(0);">Blog</a></li>
                <li><a href="javascript:void(0);">Careers</a></li>
                <li><a href="javascript:void(0);">Privacy Policy</a></li>
                <li><a href="javascript:void(0);">Terms of Use</a></li>
              </ul>
            </div>
            <div class="col-sm-3">
              <h4 class="decorated-heading">
                <span>Get in Touch</span>
              </h4>
              <ul class="footer-nav">
                <li><a href="javascript:void(0);">1800-xxxx-xxxx</a></li>
                <li><a href="javascript:void(0);">help@example.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    &copy; 2016 Lattice Store | ALL RIGHTS RESERVED.
  </div>
  <div class="toggle-button"  data-toggle="collapse" href="#collapseExample">
    <span class="glyphicon glyphicon-chevron-down"></span>
  </div>
</footer>
