<nav>
  <div id="main-nav-bar">
    <ul data-hook>
      <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">How it works</a></li>
      <li><a href="#">Why custom</a></li>
      <li><a href="#">FAQ </a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</nav>
