<!-- <nav id="top-nav-bar">
  <ul id="nav-bar" data-hook>

  </ul>
</nav> -->

<nav id="top-nav-bar">
  <ul id="nav-bar" class="header-top-navbar" data-hook>
    <%= render partial: 'spree/shared/login_bar' %>

<!--     <li id="link-to-cart" class="header-top-nav" data-hook>
      <noscript>
        <%= link_to Spree.t(:cart), '/cart' %>
      </noscript>
    </li>
    <script>Spree.fetch_cart()</script>
 -->  </ul>

</nav>
