<div id="spree-header" class="col-md-5">
  <header id="header" data-hook class="row">
    <div class="col-md-12">
      <div class="row header-helper">
        <figure id="logo"  data-hook>
            <%= link_to image_tag('logo/crown-logo.png'), root_path %>
          </figure>
        <div class="navbar-header">
          <a class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span></span>
              <span></span>
              <span></span>
          </a>
        </div>
        <%= render partial: 'spree/shared/nav_bar' %>  
      </div>
    </div>
  </header>
</div>
<script>
$(window).scroll(function(){
  if ($(window).scrollTop() >= 300) {
     $('#spree-header').addClass('sticky');
  }
  else {
     $('#spree-header').removeClass('sticky');
  }
});
$(document).ready(function(){
  $( ".navbar-toggle" ).click(function() {
    $(this).toggleClass('open');
    $( ".navbar" ).slideToggle();
  });

  $( ".filter-dropdown" ).click(function() {
    $( "#sidebar" ).slideToggle();
  });

  $( ".variant-dropdown" ).click(function() {
    $( "#product-variants" ).slideToggle();
    $( "#product-variants" ).addClass("slideleft");
  });
});
</script>


