$primary-color:#000;
$secondary-color:#ff8a00;
$wh-color:#fff;
$gray-color:#333;
$font-stack:'Dosis', sans-serif;
$font-bold:bold;
$font-light:300;
$font-medium:500;
$text-uppercase:uppercase;
$light-gray-color:#f5f5f5;
$border-color:#ddd;

/*---bootstrap button override---*/
$btn-default-color:#ddd;
$btn-primary-color:#000;
$btn-success-color:#ff8a00;
$btn-info-color:#ff8a00;
$btn-link:#000;
