<div id="spree-footer">
  <footer id="footer" data-hook>
    <div class="container-fluid">
      <div class="row">
        <div class="block_newsletter col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="title-block text-center">
                <h2>Join our newsletter</h2>
                <p>Sign up for our newsletter and get&nbsp;<span>20% off</span>&nbsp;your next order. Pretty sweet, we know.</p>
              </div>
              <form id="newsletter-footer" action="http://adella.dootheme.com/en/#footer" method="post">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <div class="input-wrapper">
                      <input name="email" type="text" value="" placeholder="Type your email here">
                    </div>
                    <input class="btn " name="submitNewsletter" type="submit" value="Subscribe" disabled="">
                    <input type="hidden" name="action" value="0">
                    <div class="clearfix"></div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <div class="container">
        <div class="row">
          <div class="dor-bottom-footer">
            <div class="container-footer">
              <ul class="social-link list-unstyled">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-rss"></span></a></li>
              <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
              </ul>
              <ul class="footer-menu list-unstyled">
              <li><a href="#">HELP &amp; CONTACT</a></li>
              <li><a href="#">SHIPPING &amp; TAXES</a></li>
              <li><a href="#">RETURN POLICY</a></li>
              <li><a href="#">AFFILIATES</a></li>
              <li><a href="#">LEGAL NOTICE</a></li>
              </ul>
              <address class="copy"><span id="design-footer-copyright-text">Copyright &copy; 2017 Online Shopping Store. All Rights Reserved.</span></address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
  
