/*---bootstrap button override---*/
.bold-text {
  font-weight: bold; }

.input-group-helper {
  width: 100%; }

.add-to-cart {
  margin-top: 10px;
  max-width: 320px;
  margin: 0px auto; }

.cart-item-description h4 a {
  color: #000;
  text-decoration: none; }
  .cart-item-description h4 a:hover {
    color: #ff8a00; }

.cart-item-price, .cart-item-total {
  color: #000;
  width: 12%; }

.delete {
  color: #000; }

.cart-total {
  background-color: #000;
  color: #fff; }
  .cart-total h4 {
    color: #fff;
    margin-top: 5px; }
  .cart-total .lead {
    line-height: 35px; }

.cart-item-delete {
  width: 6%; }

.cart-item-quantity {
  width: 10%; }

a.continue {
  color: #000; }
  a.continue:hover {
    color: #ff8a00; }
    a.continue:hover + .fa {
      color: #ff8a00; }

input:disabled.btn:hover, input:disabled.btn:active, input:disabled.btn:focus {
  background-color: #fff;
  color: #ff8a00;
  border-color: #ff8a00; }

.links {
  margin-top: 0px;
  margin-right: -15px; }

#order_coupon_code {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px; }

#empty-cart {
  margin-left: -15px; }

.lead.price {
  padding: 0px;
  display: table-cell; }

.cart-btn-group {
  background-color: transparent;
  padding-top: 0px;
  padding-bottom: 0px; }

.bill-address .col-sm-6:nth-child(2n+1) {
  clear: left; }

.line_item_quantity {
  min-width: 100px; }

.pad-15 {
  padding-left: 15px; }

#clear_cart_link input, #clear_cart_link a {
  font-weight: 600; }

@media screen and (min-width: 768px) and (max-width: 991px) {
  #order_coupon_code {
    width: 53%; }

  .table-responsive + .navbar-form {
    margin-top: 0px; }

  #checkout-summary {
    position: relative !important;
    padding-top: 15px;
    padding-bottom: 10px; } }
@media screen and (max-width: 767px) {
  .coupen-code-block {
    padding: 0; }
    .coupen-code-block label {
      display: block; }

  #order_coupon_code {
    width: calc(100% - 80px);
    display: inline-block; }

  #order_coupon_code + .btn-default {
    width: 75px;
    display: inline-block;
    vertical-align: top; }

  #checkout-summary {
    position: relative !important;
    padding-top: 15px;
    padding-bottom: 10px; }

  .cart-btn-group {
    background-color: transparent;
    padding: 0px;
    margin: 0px 0 10px 0; }
    .cart-btn-group .btn {
      font-size: 12px; }

  #empty-cart {
    text-align: center;
    margin-top: 30px; }

  .cart-item-description, .order-item-description {
    min-width: 200px;
    white-space: normal !important; }

  .cart-total .lead {
    line-height: 35px; }

  .steps-data .col-xs-12 {
    margin-bottom: 15px; }

  .form-buttons #save_user_address + label {
    font-size: 12px; }

  table#cart-detail td.cart-item-description {
    min-width: 200px;
    white-space: normal; }

  table#line-items td.order_item_description {
    min-width: 200px !important;
    white-space: normal !important; } }
.order-number a {
  color: #ff8a00 !important; }

.ui-button .ui-icon {
  background-image: url(/assets/jquery-ui/ui-icons_777777_256x240.png) !important; }
