#spree-footer {
  background-color: #fff; }

#newsletter-footer {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 25px; }

#newsletter-footer .input-wrapper {
  display: inline-block;
  height: 40px;
  vertical-align: middle; }

#newsletter-footer input[name="email"] {
  border: medium none;
  border-radius: 35px 0 0 35px;
  -moz-border-radius: 35px 0 0 35px;
  -webkit-border-radius: 35px 0 0 35px;
  -mx-border-radius: 35px 0 0 35px;
  box-shadow: none;
  background: #fff;
  font-size: 14px;
  padding-left: 20px;
  border: 1px #b6a08e solid;
  color: #333;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100%;
  line-height: 100%; }

.block_newsletter form input[name="submitNewsletter"] {
  border: medium none;
  border-radius: 0 35px 35px 0;
  -moz-border-radius: 0 35px 35px 0;
  -webkit-border-radius: 0 35px 35px 0;
  -mx-border-radius: 0 35px 35px 0;
  box-shadow: none;
  padding-left: 20px;
  padding-right: 20px;
  background: #333;
  border: 1px #333 solid;
  line-height: 36px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: -4px; }
  .block_newsletter form input[name="submitNewsletter"]:disabled:hover {
    color: #333 !important; }
  .block_newsletter form input[name="submitNewsletter"]:hover {
    color: #fff; }

.block_newsletter {
  margin: 0;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #b6a08e; }

.block_newsletter h2 {
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 0px;
  color: #fff; }

.block_newsletter p {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px; }

.block_newsletter p span {
  font-weight: bold; }

.dor-bottom-footer .social-link {
  display: table;
  margin: 0 auto; }

.dor-bottom-footer .social-link li {
  float: left;
  margin: 0 7.5px; }

.dor-bottom-footer .social-link a {
  border: 1px solid #ededed;
  border-radius: 50%;
  color: #333;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 33px;
  padding-left: 1px;
  text-align: center;
  width: 34px; }
  .dor-bottom-footer .social-link a:hover {
    color: #fff;
    background-color: #b6a08e;
    text-decoration: none; }

.dor-bottom-footer .footer-menu {
  padding-bottom: 8px;
  padding-top: 27px;
  text-align: center; }

.dor-bottom-footer .footer-menu li {
  display: inline-block;
  margin: 0 13px 10px; }

.dor-bottom-footer .footer-menu li a {
  color: #333; }
  .dor-bottom-footer .footer-menu li a:hover {
    color: #b6a08e; }

.dor-bottom-footer address {
  text-align: center; }

.footer-container {
  border-top: 1px dashed #ddd;
  padding-bottom: 55px;
  padding-top: 80px;
  text-align: center; }

.copy {
  color: #333; }

@media screen and (max-width: 767px) {
  .dor-bottom-footer .footer-menu li {
    display: block; }

  #newsletter-footer .input-wrapper {
    width: 60%; }
    #newsletter-footer .input-wrapper input {
      width: 100%; } }
