@charset "UTF-8";
/*Font colors*/
/*font weight*/
/*Break Points*/
/*Mixin*/
/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 250px;
  height: 100vh;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0); }

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100vh;
  overflow-y: auto; }

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px; }

/*Left*/
.modal.left.fade .modal-dialog {
  left: -250px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out; }

.modal.left.fade.in .modal-dialog {
  left: 0; }

/*Right*/
.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out; }

.modal.right.fade.in .modal-dialog {
  right: 0; }

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none; }

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA; }

.sidebar-close {
  display: block;
  position: absolute;
  top: 20px;
  right: 15px;
  background: none;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px; }

#sidebar .list-group .list-group-item {
  border: none;
  padding: 5px 10px;
  border-top: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
  font-weight: 700;
  border-radius: 0 !important; }
#sidebar .list-group a.list-group-item {
  opacity: 0.5; }
  #sidebar .list-group a.list-group-item.active {
    color: #993333;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #f1f1f1;
    opacity: 1; }

.custom_checkbox {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0; }
  .custom_checkbox + label {
    display: inline-block;
    margin-bottom: 0;
    padding: 2px 2px 2px 20px;
    position: relative;
    opacity: 0.5; }
    .custom_checkbox + label:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      border: solid 1px #333333;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -8px; }
  .custom_checkbox:checked + label {
    opacity: 1; }
    .custom_checkbox:checked + label:before {
      content: '✓'; }

.custom_radio_check {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0; }
  .custom_radio_check + label, .custom_radio_check + span {
    display: inline-block;
    margin-bottom: 0;
    padding: 2px 2px 2px 20px;
    position: relative;
    opacity: 0.5;
    cursor: pointer; }
    .custom_radio_check + label:before, .custom_radio_check + span:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      border: solid 1px #333333;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -8px;
      font-size: 10px; }
  .custom_radio_check:checked + label, .custom_radio_check:checked + span {
    opacity: 1; }
    .custom_radio_check:checked + label:before, .custom_radio_check:checked + span:before {
      content: '✓'; }
  .custom_radio_check[type="radio"] + label:before, .custom_radio_check[type="radio"] + span:before {
    border-radius: 50%; }
  .custom_radio_check[type="radio"]:checked + label:before, .custom_radio_check[type="radio"]:checked + span:before {
    content: '';
    border-width: 2px;
    background-color: #333333;
    box-shadow: 0 0 0 2px #ffffff inset; }

.custom_radio_check[disabled] + label, .custom_radio_check[disabled] + span, .custom_radio_check:checked[disabled] + label, .custom_radio_check:checked[disabled] + span {
  opacity: 0.4; }

.search-modal {
  margin-top: 50px !important; }

.close.modal-close {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  top: -20px;
  color: #ffffff;
  opacity: 1;
  text-shadow: none; }
