/*Font colors*/
/*font weight*/
/*Break Points*/
#home-page #sidebar {
  display: none; }
#home-page #sidebar + #content {
  float: none;
  width: auto; }
#home-page .wrapper {
  max-width: initial; }
#home-page .primary-header {
  margin-bottom: 0; }

.homepage_products {
  max-width: 1250px;
  margin: 0 auto; }

@media (max-width: 991px) {
  #home-page #sidebar {
    display: block; } }
