/*Mixins*/
/*Font colors*/
/*font weight*/
/*Break Points*/
.global_footer {
  background-color: #444444;
  padding: 50px 0;
  color: #fff;
  margin-top: 50px; }
  .global_footer a {
    color: #fff;
    opacity: 0.7; }
    .global_footer a:hover {
      opacity: 1;
      text-decoration: none; }

.footer-colunm-container {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center; }
  .footer-colunm-container > div {
    width: 33.33%; }

.footer-social-link-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center; }
  .footer-social-link-list li {
    padding: 0 7px; }

@media (max-width: 767px) {
  .global_footer {
    padding: 20px 0; }

  .footer-colunm-container {
    flex-direction: column;
    -webkit-flex-direction: column; }
    .footer-colunm-container > div {
      width: auto;
      text-align: center;
      padding: 5px 0; } }
