<div class="home-banner-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 home-banner-block">
        <div class="home-banner-holder">
          <div class="row">
            <div class="col-xs-3 home-banner-icon-block"><i class="fa fa-truck"></i></div>
            <div class="col-xs-9 home-banner-content-block">
              <h4 class="home-banner-title">Free Shipping and Returns</h4>
              <div class="home-banner-content">Lorem ipsum doler set amet.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 home-banner-block">
        <div class="home-banner-holder">
          <div class="row">
            <div class="col-xs-3 home-banner-icon-block"><i class="fa fa-dollar"></i></div>
            <div class="col-xs-9 home-banner-content-block">
              <h4 class="home-banner-title">Money Back Guarantee</h4>
              <div class="home-banner-content">Lorem ipsum doler set amet.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 home-banner-block">
        <div class="home-banner-holder">
          <div class="row">
            <div class="col-xs-3 home-banner-icon-block"><i class="fa fa-comments-o"></i></div>
            <div class="col-xs-9 home-banner-content-block">
              <h4 class="home-banner-title">24/7 Online Support</h4>
              <div class="home-banner-content">Lorem ipsum doler set amet.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
