<div class="hompage-slider-section">
  <ul class="homepage-slider">
    <li class="homepage-slider-row slide1"><%= image_tag 'home-slider1.jpg' %></li>
    <li class="homepage-slider-row slide2"><%= image_tag 'home-slider2.jpg' %></li>
    <li class="homepage-slider-row slide3"><%= image_tag 'home-slider3.jpg' %></li>
  </ul>
</div>
