<%#= link_to cart_path, class: 'header-top-nav-link header-cart-link' do %>
  <!-- <span class='glyphicon glyphicon-shopping-cart'></span>
  Cart
  <span class='header-cart-count'>0</span> -->
<%# end %>
<%= link_to_cart %>
