@import url("https://fonts.googleapis.com/css?family=Gudea:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");
.global-footer {
  width: 100%;
  height: 50px;
  padding: 15px 0;
  display: table;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-weight: 300;
  background: #000; }
  .global-footer .footer-right {
    text-align: right; }
  .global-footer .footer-link {
    margin-left: 20px;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase; }
    .global-footer .footer-link:hover {
      color: #C14463; }
    .global-footer .footer-link:first-child {
      margin-left: 0; }

@media (max-width: 767px) {
  .global-footer {
    font-size: 12px; }
    .global-footer .footer-right {
      margin-top: 10px;
      text-align: left; }
    .global-footer .footer-link {
      margin-left: 15px; } }
