@import url("https://fonts.googleapis.com/css?family=Gudea:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");
.product-block {
  height: 240px;
  margin-bottom: 40px; }
  .product-block .product-holder:hover .product-title {
    color: #C14463; }
  .product-block .product-image-block {
    width: 100%;
    height: 160px;
    display: table;
    background: #f7f7f9; }
  .product-block .product-image-holder {
    width: 100%;
    height: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
  .product-block .product-image {
    max-width: 100%;
    max-height: 140px; }
  .product-block .product-content-block {
    margin-top: 15px; }
  .product-block .product-title {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    font-weight: 300; }
  .product-block .product-price-block {
    margin-top: 8px;
    font-weight: 600; }
  @media (max-width: 767px) {
    .product-block {
      height: 160px;
      margin-bottom: 24px; }
      .product-block .product-image-block {
        height: 100px; }
      .product-block .product-image {
        max-height: 80px; }
      .product-block .product-content-block {
        margin-top: 5px; }
      .product-block .product-price-block {
        margin-top: 5px;
        font-size: 12px; } }
