/*
.site-header {
  padding: 2rem;
  font-size: 1.8rem;
  @include mq('tablet-wide') {
      padding-top: 4rem;
      font-size: 2.4rem;
  }
}
*/
/* 
input,  
textarea {  
  @include input-placeholder {
      color: $grey;
  }
}
*/
.navbar-form {
  margin-top: 0; }

.product-list-item .panel, .related-product-list .panel {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  overflow: hidden; }
  .product-list-item .panel:hover .product-img, .related-product-list .panel:hover .product-img {
    transform: translate(-50%, -72%);
    -moz-transform: translate(-50%, -72%);
    -webkit-transform: translate(-50%, -72%);
    opacity: 0.5; }
  .product-list-item .panel:hover .img-overlay, .related-product-list .panel:hover .img-overlay {
    background: rgba(0, 0, 0, 0.9); }
  .product-list-item .panel:hover .product-ino-bar, .related-product-list .panel:hover .product-ino-bar {
    bottom: 0;
    background: #fff;
    border-color: #df9300; }
    .product-list-item .panel:hover .product-ino-bar span, .related-product-list .panel:hover .product-ino-bar span {
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      overflow: hidden; }
.product-list-item .figure, .related-product-list .figure {
  padding: 0;
  padding: 0 0 136.43%;
  margin: 0;
  background: #f7f7f7; }
.product-list-item .product-img, .related-product-list .product-img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
.product-list-item .product-ino-bar, .related-product-list .product-ino-bar {
  position: absolute;
  bottom: -30px;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-align: center;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
  padding: 10px;
  border-top: solid 1px transparent; }
  .product-list-item .product-ino-bar .item-price, .related-product-list .product-ino-bar .item-price {
    margin: 0 0 10px;
    padding: 0;
    font-size: 30px;
    color: #000;
    line-height: 1;
    -webkit-text-stroke: 1px #fff; }
    .product-list-item .product-ino-bar .item-price .price, .related-product-list .product-ino-bar .item-price .price {
      font-weight: 900; }
  .product-list-item .product-ino-bar span, .related-product-list .product-ino-bar span {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden; }

#product-images #main-image {
  min-height: 350px;
  text-align: center;
  display: flex;
  margin-bottom: 15px; }
  #product-images #main-image img {
    position: relative;
    max-height: 350px;
    margin: auto;
    display: block;
    float: none;
    vertical-align: middle; }
#product-images #thumbnails {
  position: relative;
  margin-bottom: 0px;
  text-align: center; }
  #product-images #thumbnails .tmb-all a, #product-images #thumbnails .vtmb a {
    display: block; }
    #product-images #thumbnails .tmb-all a .thumbnail, #product-images #thumbnails .vtmb a .thumbnail {
      margin-bottom: 0; }

.product-detail-tabs-content {
  margin-bottom: 0px; }
  .product-detail-tabs-content h1.product-title {
    margin-bottom: 15px;
    font-weight: normal; }
  .product-detail-tabs-content #product-price .product-section-title {
    font-weight: bold;
    display: none; }
  .product-detail-tabs-content #product-price .lead.price.selling {
    font-weight: bold; }

#taxon-crumbs {
  background-color: #f5f5f5;
  height: 100vh;
  padding-bottom: 15px;
  overflow-y: hidden;
  margin-right: 15px; }
  #taxon-crumbs h3 {
    font-size: 20px; }

.related-product-list .item .panel {
  width: 100% !important;
  height: 100%;
  margin-bottom: 15px; }
  .related-product-list .item .panel .product-ino-bar {
    margin-bottom: 30px; }
    .related-product-list .item .panel .product-ino-bar .item-price {
      font-size: 20px; }

.product-info-properties {
  border: 1px solid #ddd;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px; }
  .product-info-properties .product-detail-tabs a {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    border-bottom: 4px solid transparent; }
  .product-info-properties .product-detail-tabs li:hover a {
    background-color: transparent;
    border-color: transparent; }
  .product-info-properties .product-detail-tabs li.active a {
    border: 0;
    border-bottom: 4px solid #df9300; }

.progress-steps.nav-pills {
  border-bottom: 2px solid #e8e8e8;
  margin-bottom: 20px;
  margin-top: 0px; }
  .progress-steps.nav-pills li a {
    display: block;
    padding: 10px 20px;
    margin: 0 5px 1px 0;
    background: #fff;
    font-size: 14px;
    text-align: center;
    border: none;
    border-radius: 0;
    z-index: 2;
    position: relative;
    color: #333;
    transition: all 0.3s ease 0s; }
    .progress-steps.nav-pills li a:hover {
      color: #fff;
      border: none;
      background-color: #df9300; }
  .progress-steps.nav-pills li.active a {
    color: #fff;
    border: none;
    background-color: #df9300; }
    .progress-steps.nav-pills li.active a:focus {
      color: #fff;
      border: none;
      background-color: #df9300; }
    .progress-steps.nav-pills li.active a:before {
      content: "\f107";
      font-family: fontawesome;
      font-size: 25px;
      font-weight: 700;
      color: #df9300;
      margin: 0 auto;
      position: absolute;
      bottom: -30px;
      left: 0;
      right: 0; }
    .progress-steps.nav-pills li.active a:after {
      content: "";
      width: 100%;
      height: 3px;
      background: #df9300;
      position: absolute;
      bottom: -1px;
      left: 0;
      z-index: -1;
      transition: all 0.3s ease 0s; }

.progress-steps .tab-content {
  padding: 30px 20px 20px;
  margin-top: 0;
  background: #fff;
  font-size: 15px;
  color: #7a9181;
  line-height: 30px;
  border-radius: 0 0 5px 5px; }

.progress-steps .tab-content h3 {
  font-size: 24px;
  margin-top: 0; }

.text-primary {
  color: #000;
  font-weight: 500; }

#product-variants label {
  font-weight: normal;
  padding-left: 5px; }

#checkout-summary {
  background-color: #eee; }

.steps-data div.address_col .row {
  border: 1px solid #ddd;
  margin: 0; }
  .steps-data div.address_col .row .pd-15 {
    padding: 15px; }
.steps-data .bill_address_col {
  background-color: #eee;
  padding: 15px; }
.steps-data .bill_payment_col {
  background-color: #eee;
  padding: 15px 15px;
  min-height: 190px; }

.btn-back {
  color: #df9300;
  line-height: 14px;
  padding: 5px 0px;
  border-bottom: 3px solid #df9300;
  margin-right: 15px;
  transition: all;
  position: relative; }
  .btn-back:after {
    content: '\f177';
    position: absolute;
    font-family: fontawesome;
    top: 6px;
    left: -15px;
    opacity: 0; }
  .btn-back:hover {
    border-bottom: 3px solid #000;
    text-decoration: none; }
    .btn-back:hover:after {
      opacity: 1;
      left: -20px;
      transition: .5s all; }

.btn-account {
  color: #000;
  border-bottom: 3px solid #000;
  line-height: 14px;
  padding: 5px 0;
  position: relative;
  transition: all; }
  .btn-account:after {
    content: '\f178';
    position: absolute;
    font-family: fontawesome;
    top: 6px;
    right: -25px;
    opacity: 0; }
  .btn-account:hover {
    border-bottom: 3px solid rgba(0, 0, 0, 0.6);
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6); }
    .btn-account:hover:after {
      right: -20px;
      opacity: 1;
      transition: .5s all; }

.btn-md {
  padding: 6px 30px;
  margin-top: 20px;
  min-width: 180px; }

.custom-select {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 250px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  position: relative; }

.custom-select select {
  padding: 10px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  height: 35px; }

.custom-select select:focus {
  outline: none; }

@media only screen and (max-width: 991px) {
  #taxon-crumbs {
    height: auto;
    margin: 0px; } }
@media only screen and (max-width: 767px) {
  .progress-steps.nav-pills li {
    display: inline-block; }
    .progress-steps.nav-pills li a {
      padding-left: 5px !important;
      padding-right: 5px !important;
      font-size: 12px; }

  #spree-header #top-nav-bar a[href="/account"] {
    font-size: 0;
    padding: 0px;
    width: 30px;
    height: 30px;
    position: relative;
    display: block;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid #2a2a2a; }
    #spree-header #top-nav-bar a[href="/account"]:before {
      font-size: 14px;
      content: '\e008';
      font-family: 'Glyphicons Halflings';
      position: absolute;
      left: 7px;
      top: 4px; }
  #spree-header #top-nav-bar a[href="/logout"] {
    font-size: 0;
    padding: 0px;
    width: 30px;
    height: 30px;
    position: relative;
    display: block;
    cursor: pointer;
    border: 1px solid #2a2a2a; }
    #spree-header #top-nav-bar a[href="/logout"]:before {
      font-size: 14px;
      content: '\e163';
      font-family: 'Glyphicons Halflings';
      position: absolute;
      left: 7px;
      top: 4px; }
  #spree-header .header-search.active .serach-form-section {
    padding-left: 15px; }
  #spree-header .header-search.active .keyword-form-group {
    width: calc(100% - 200px); }
  #spree-header .header-search.active .btn-search {
    right: 40px; }
  #spree-header .header-search.active .btn-close {
    right: 8px;
    top: 8px; } }
@media only screen and (max-width: 479px) {
  .well.form-buttons {
    padding: 10px 5px; }
    .well.form-buttons span {
      font-size: 12px; } }
.btn-primary.bg-gray:active:hover, .btn-primary.bg-grayactive:focus, .btn-primary.bg-gray:hover, .btn-primary.bg-gray:focus, .btn-primary.bg-gray:active {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3); }
