@charset "UTF-8";
/*Mixin*/
/*Mixin*/
a:hover, a:focus {
  outline: none; }

.hover-effect, .hover-effect-1 a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
  display: inline-block;
  margin: 15px 0px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.5em;
  text-align: center; }

.hover-effect a::before {
  position: absolute;
  top: 100%;
  left: 50%;
  color: transparent;
  content: '•';
  text-shadow: 0 0 transparent;
  font-size: 1.2em;
  -webkit-transition: text-shadow 0.3s, color 0.3s;
  -moz-transition: text-shadow 0.3s, color 0.3s;
  transition: text-shadow 0.3s, color 0.3s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none; }
  .hover-effect a::before:hover, .hover-effect a::before:focus {
    color: #ba7700; }
    .hover-effect a::before:hover:before, .hover-effect a::before:focus:before {
      color: #fff;
      text-shadow: 10px 0 #fff, -10px 0 #fff; }

/* Effect 19: 3D side */
.hover-effect-1 a, .hover-effect-1 button, .hover-effect-1 div {
  line-height: 2em;
  margin: 0px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  width: 200px; }
  .hover-effect-1 a span, .hover-effect-1 button span, .hover-effect-1 div span {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0 14px;
    background: #fec622;
    -webkit-transition: -webkit-transform 0.4s, background 0.4s;
    -moz-transition: -moz-transform 0.4s, background 0.4s;
    transition: transform 0.4s, background 0.4s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50% -100px;
    -moz-transform-origin: 50% 50% -100px;
    transform-origin: 50% 50% -100px; }
    .hover-effect-1 a span.black, .hover-effect-1 button span.black, .hover-effect-1 div span.black {
      background: #191607;
      color: #fff; }
  .hover-effect-1 a:hover span, .hover-effect-1 a:focus span, .hover-effect-1 button:hover span, .hover-effect-1 button:focus span, .hover-effect-1 div:hover span, .hover-effect-1 div:focus span {
    background: #e1b203;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg); }
    .hover-effect-1 a:hover span.black, .hover-effect-1 a:focus span.black, .hover-effect-1 button:hover span.black, .hover-effect-1 button:focus span.black, .hover-effect-1 div:hover span.black, .hover-effect-1 div:focus span.black {
      background: #333;
      color: #fff; }
.hover-effect-1 div {
  margin: 0px auto;
  z-index: 1; }

.csstransforms3d .hover-effect-1 a span::before, .csstransforms3d .hover-effect-1 button span::before, .csstransforms3d .hover-effect-1 div span::before {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #e1b203;
  content: attr(data-hover);
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  transition: background 0.4s;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  transform-origin: 0 50%;
  pointer-events: none; }
.csstransforms3d .hover-effect-1 a:hover span::before, .csstransforms3d .hover-effect-1 a:focus span::before, .csstransforms3d .hover-effect-1 button:hover span::before, .csstransforms3d .hover-effect-1 button:focus span::before, .csstransforms3d .hover-effect-1 div:hover span::before, .csstransforms3d .hover-effect-1 div:focus span::before {
  background: #e1b203; }
.csstransforms3d .hover-effect-1 a:hover span.black:before, .csstransforms3d .hover-effect-1 a:focus span.black:before, .csstransforms3d .hover-effect-1 button:hover span.black:before, .csstransforms3d .hover-effect-1 button:focus span.black:before, .csstransforms3d .hover-effect-1 div:hover span.black:before, .csstransforms3d .hover-effect-1 div:focus span.black:before {
  background: #333;
  color: #fff; }

.hover-effect-1 button {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  padding: 0 15px; }
  .hover-effect-1 button span {
    min-height: 50px;
    line-height: 50px; }

.hover-effect-2 {
  position: relative;
  display: inline-block;
  margin: 15px 0px;
  outline: none;
  color: #333;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.1em; }
  .hover-effect-2:before, .hover-effect-2:after {
    display: inline-block;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s; }
  .hover-effect-2:before {
    margin-right: 20px;
    content: '[';
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    transform: translateX(10px); }
  .hover-effect-2:after {
    margin-left: 20px;
    content: ']';
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    transform: translateX(-10px); }
  .hover-effect-2:hover, .hover-effect-2:focus {
    text-decoration: none;
    outline: none; }
    .hover-effect-2:hover:before, .hover-effect-2:hover:after, .hover-effect-2:focus:before, .hover-effect-2:focus:after {
      opacity: 0;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      transform: translateX(0px); }
  .hover-effect-2 input[type="submit"] {
    box-shadow: none;
    background: transparent;
    border: 0; }

body#cart .hover-effect-1 a, body#cart .hover-effect-1 button {
  width: 150px; }
  body#cart .hover-effect-1 a span, body#cart .hover-effect-1 button span {
    -webkit-transform-origin: 50% 50% -75px;
    -moz-transform-origin: 50% 50% -75px;
    transform-origin: 50% 50% -75px;
    min-height: 40px;
    line-height: 40px; }

@media screen and (max-width: 767px) {
  body#homepage .hover-effect-1 a, body#homepage .hover-effect-1 button, body#homepage .hover-effect-1 div {
    width: 150px; } }
.navbar-form {
  margin-top: 0; }

.breadcrumbs-row {
  position: fixed;
  top: 15px;
  left: 0;
  text-align: center;
  margin-left: 25%;
  z-index: 99;
  transition: top 0.6s; }
  .breadcrumbs-row ol {
    background-color: transparent; }
  .breadcrumbs-row.off-canvas {
    top: -89px; }

.product-list-item .panel, .similar-box-item .panel {
  box-shadow: none;
  border: 0;
  display: block;
  position: relative; }
.product-list-item figure, .similar-box-item figure {
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
  background: #fff;
  text-align: center;
  cursor: pointer;
  min-height: 300px;
  max-height: 300px; }
  .product-list-item figure img, .similar-box-item figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 1;
    margin: 0px auto; }
  .product-list-item figure figcaption, .similar-box-item figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    color: #191607;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
    z-index: 8; }
    .product-list-item figure figcaption .info, .similar-box-item figure figcaption .info {
      padding-top: 0%;
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: translate3d(0, 100px, 0);
      transform: translate3d(0, 100px, 0);
      font-size: 14px;
      padding: 5px;
      font-weight: 600;
      line-height: 100%;
      background-color: #fec622;
      display: inline-block;
      max-width: 70%;
      border-radius: 5px; }
    .product-list-item figure figcaption p, .similar-box-item figure figcaption p {
      padding: 40px 15px 0;
      text-transform: none;
      opacity: 0;
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: translate3d(0, 100px, 0);
      transform: translate3d(0, 100px, 0);
      letter-spacing: 1px;
      font-size: 30px; }
    .product-list-item figure figcaption:before, .similar-box-item figure figcaption:before {
      top: 30px;
      right: 15px;
      bottom: 30px;
      left: 15px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: scale(0, 1);
      transform: scale(0, 1);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0; }
    .product-list-item figure figcaption:after, .similar-box-item figure figcaption:after {
      top: 15px;
      right: 30px;
      bottom: 15px;
      left: 30px;
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      -webkit-transform: scale(1, 0);
      transform: scale(1, 0);
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0; }
    .product-list-item figure figcaption:before, .product-list-item figure figcaption:after, .similar-box-item figure figcaption:before, .similar-box-item figure figcaption:after {
      position: absolute;
      content: '';
      opacity: 0;
      transition: opacity 0.35s, transform 0.35s; }
    .product-list-item figure figcaption:hover, .similar-box-item figure figcaption:hover {
      background-color: rgba(254, 198, 34, 0.6);
      text-decoration: none; }
      .product-list-item figure figcaption:hover:before, .product-list-item figure figcaption:hover:after, .similar-box-item figure figcaption:hover:before, .similar-box-item figure figcaption:hover:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); }
  .product-list-item figure:hover p, .product-list-item figure:hover .info, .similar-box-item figure:hover p, .similar-box-item figure:hover .info {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
.product-list-item a, .similar-box-item a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99; }

.no-product-text {
  font-size: 20px;
  width: 100%;
  height: calc(100vh - 200px);
  text-align: center;
  padding-top: 200px;
  background-color: #f5f5f5; }

#product-images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
  #product-images #main-image {
    min-height: 350px;
    text-align: center;
    display: flex;
    margin-bottom: 15px;
    flex-basis: calc(100% - 80px); }
    #product-images #main-image img {
      position: relative;
      margin: auto;
      display: block;
      float: none;
      vertical-align: middle; }
  #product-images #thumbnails {
    position: relative;
    margin-bottom: 0px;
    text-align: center;
    flex-basis: 80px; }
  #product-images #thumbnails + #main-image {
    flex-basis: 100%; }

.add-to-cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  margin-top: 15px; }
  .add-to-cart .input-group {
    flex-basis: 178px; }
    .add-to-cart .input-group button {
      min-height: 50px;
      width: 40px;
      border-radius: 0; }
    .add-to-cart .input-group input {
      min-height: 50px;
      max-width: 100px; }

#product-variants ul {
  margin-top: 20px;
  margin-bottom: 0px; }
  #product-variants ul li {
    width: 32%; }

.product-info-properties {
  border-color: transparent !important; }
  .product-info-properties #product-properties.table {
    border-color: transparent; }
    .product-info-properties #product-properties.table th, .product-info-properties #product-properties.table tr, .product-info-properties #product-properties.table td {
      border-color: transparent; }

.product-article-part {
  padding: 30px; }

.product-right-part p {
  font-size: 1em;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 10px;
  margin-bottom: 15px; }

.product-detail-tabs-content {
  margin-bottom: 0px; }
  .product-detail-tabs-content h1.product-title {
    font-weight: normal; }
  .product-detail-tabs-content #product-price .product-section-title {
    font-weight: bold;
    display: none; }
  .product-detail-tabs-content #product-price .lead.price.selling {
    font-size: 35px;
    color: #fec622; }

.similar-link {
  background-color: #fec622;
  color: #191607;
  position: fixed;
  left: 50%;
  right: 0;
  text-align: center;
  width: 160px;
  height: 50px;
  margin-left: -80px;
  bottom: 55px;
  border-radius: 50% 50% 0 0;
  line-height: 50px;
  z-index: 4; }

.similar-modal {
  margin: 0px auto;
  padding: 30px 15px !important; }
  .similar-modal .modal-content {
    border-radius: 0;
    box-shadow: none;
    min-height: 500px; }
  .similar-modal .modal-header {
    border: 0; }
    .similar-modal .modal-header .close {
      position: absolute;
      top: 20px;
      right: 20px; }
  .similar-modal .similar-box-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .similar-modal .similar-box-item figure {
      min-height: 300px;
      max-height: auto; }

.text-primary {
  color: #000;
  font-weight: 500; }

#product-variants label {
  font-weight: normal;
  padding-left: 5px; }

#checkout-summary {
  background-color: #eee; }

.steps-data div.address_col .row {
  border: 1px solid #ddd;
  margin: 0; }
  .steps-data div.address_col .row .pd-15 {
    padding: 15px; }
.steps-data .bill_address_col {
  background-color: #eee;
  padding: 15px; }
.steps-data .bill_payment_col {
  background-color: #eee;
  padding: 15px 15px;
  min-height: 190px; }

.order-number a {
  color: #fec622 !important; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #taxon-crumbs {
    height: auto;
    margin: 0px; }

  #product-images {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    #product-images #main-image {
      min-height: auto;
      flex-basis: 100%;
      display: block; }
    #product-images .thumbnail {
      margin-bottom: 0px; }

  .similar-link {
    bottom: 85px; }

  .product-detail-tabs-content h1.product-title {
    font-size: 25px;
    margin-bottom: 15px; }

  #clear_cart_link {
    float: left; }

  #line-items img {
    width: 45px; }

  .similar-modal {
    max-height: 500px; } }
@media only screen and (max-width: 767px) {
  .checkout-progress-tab {
    padding: 0px; }

  .progress-steps.nav-pills li {
    display: inline-block; }
    .progress-steps.nav-pills li a:before {
      right: -10px !important; }

  .breadcrumbs-row {
    margin-left: 15px;
    position: relative; }

  #product-images {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    #product-images #main-image {
      min-height: auto;
      flex-basis: 100%;
      display: block; }
    #product-images .thumbnail {
      margin-bottom: 0px; }

  .similar-link {
    bottom: 85px; }

  .product-detail-tabs-content h1.product-title {
    font-size: 25px;
    margin-bottom: 15px; }

  #clear_cart_link {
    float: left; }

  #line-items img {
    width: 45px; }

  .add-to-cart {
    flex-direction: column; }
    .add-to-cart .input-group {
      flex-basis: 200px;
      margin-bottom: 20px; }
      .add-to-cart .input-group input {
        min-width: 100px;
        max-width: none; }

  td.cart-item-quantity .line_item_quantity {
    min-width: 100px; }

  table#cart-detail td.cart-item-description {
    min-width: 200px;
    white-space: normal; }

  table#line-items td.order_item_description {
    min-width: 200px !important;
    white-space: normal !important; } }
