@import '../common/fonts.scss';
@import '../common/variables.scss';
@import '../common/mixins.scss';

.login-section {
  border-right: solid 1px $border-grey;
  padding-top: 20px;
  padding-bottom: 20px;

  &.no-border {
    border-right: none;
  }

  &.no-spacing {
    padding-top: 0;
  }

  .login-form-section {
    margin-top: 30px;
  }

  .login-form-row {
    margin-top: 20px;

    label {
      margin-bottom: 0;
      font-weight: 300;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

.login-other-section {
  padding-top: 100px;

  .login-form-row {
    margin-top: 20px;
  }
}

.user-section {
  .user-email-block {
    margin-top: 20px;
    border: solid 1px $border-grey;
    padding: 10px;
    background: $light-grey-bg;
  }

  .user-email-edit-link {
    color: $link-maroon;
    font-size: 12px;
    font-weight: 700;

    &:hover {
      color: $color-black;
    }
  }

  .user-orders-block {
    margin-top: 40px;
  }

  .user-orders-table {
    th {
      border-width: 1px;
      font-size: 12px;
      white-space: nowrap;
    }

    td {
      font-size: 13px;
    }

    .order-total {
      font-weight: 700;
    }

    .order-number {
      a {
        color: $link-maroon;

        &:hover {
          color: $color-black;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .login-section {
    border-right: none;
  }

  .login-other-section {
    padding-top: 10px;
  }
}
