@import 'core/colors.scss';
@import 'core/mixins.scss';
@import 'core/fonts.scss';
@import 'core/icons.scss';
@import 'core/typography.scss';
@import 'core/modals.scss';

@import 'components/global-header.scss';
@import 'components/global-navigation.scss';
@import 'components/global-footer.scss';
@import 'components/product_item.scss';
@import 'components/inner-page.scss';
@import 'components/custom-checkbox.scss';


@import 'pages/home.scss';
