@import url("https://fonts.googleapis.com/css?family=Gudea:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");
.login-section {
  border-right: solid 1px #c7c7c7;
  padding-top: 20px;
  padding-bottom: 20px; }
  .login-section.no-border {
    border-right: none; }
  .login-section.no-spacing {
    padding-top: 0; }
  .login-section .login-form-section {
    margin-top: 30px; }
  .login-section .login-form-row {
    margin-top: 20px; }
    .login-section .login-form-row label {
      margin-bottom: 0;
      font-weight: 300; }
    .login-section .login-form-row:first-child {
      margin-top: 0; }

.login-other-section {
  padding-top: 100px; }
  .login-other-section .login-form-row {
    margin-top: 20px; }

.user-section .user-email-block {
  margin-top: 20px;
  border: solid 1px #c7c7c7;
  padding: 10px;
  background: #f7f7f9; }
.user-section .user-email-edit-link {
  color: #C14463;
  font-size: 12px;
  font-weight: 700; }
  .user-section .user-email-edit-link:hover {
    color: #000; }
.user-section .user-orders-block {
  margin-top: 40px; }
.user-section .user-orders-table th {
  border-width: 1px;
  font-size: 12px;
  white-space: nowrap; }
.user-section .user-orders-table td {
  font-size: 13px; }
.user-section .user-orders-table .order-total {
  font-weight: 700; }
.user-section .user-orders-table .order-number a {
  color: #C14463; }
  .user-section .user-orders-table .order-number a:hover {
    color: #000; }

@media (max-width: 767px) {
  .login-section {
    border-right: none; }

  .login-other-section {
    padding-top: 10px; } }
