<div class="global_footer">
  <div class="container">
    <div class="footer-colunm-container">
      <div class="text-muted">
        Copyrights &copy; 2013 - 2017 <a href="#">Vinsol.com</a>
      </div>
      <div class="text-muted">
        <ul class="footer-social-link-list">
          <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
      </div>
      <div class="desktop-text-right text-muted">
        Design & Developed by <a href="#">Vinsol.com</a>
      </div>
    </div>
  </div>
</div>
