<!--footer start from here-->
<footer id="spree-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 pad-30">
        <figure id="logo-footer" class="col-md-3 col-sm-3 col-xs-2 " data-hook>
          <%= link_to (image_tag 'logo-w.png'), root_path %>
        </figure>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis sodales lectus, vel congue dui sagittis non. Nulla non fermentum </p>   
      </div>

      <div class="col-md-4 col-sm-12 col-md-offset-1 pad-30">
          <% taxonomy = Spree::Taxonomy.first %>
          <h3><%= taxonomy.name %></h3>
            <ul class="footer-ul">
              <% taxonomy.root.children.each_with_index do |taxon, i| %>
                <li>
                  <%= link_to taxon.name, nested_taxons_path(taxon.permalink)  %>
                </li>
              <% end %>
            </ul>
      </div>
      <div class="col-md-3 col-sm-12 footerleft about-sec">
        <h3 class="heading7">Get Social</h3>
        <div class="social-media">
          <ul class="list-inline">
            <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" title=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <p>© 2017 - All Rights Reserved</p>  

      </div>
      
      
    </div>
    <div class="row">
      <div class="copyright text-center">
        <div class="col-md-12">
          
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

