
<div id="spree-header">
  <header id="header" data-hook>
    <section class="sticky">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 col-sm-9 col-xs-10 desktop-menu">
          <%= render partial: 'spree/shared/main_nav_bar' %>
           <%= render partial: 'spree/shared/nav_bar' %>
          </div>
          <figure id="logo" class="col-md-3 col-sm-3 col-xs-2 " data-hook>
            <%= link_to (image_tag 'logo.png'), root_path, class:'hidden-xs' %>
            <%= link_to (image_tag 'logo-m.png'), root_path, class:'visible-xs'%>
          </figure>
        </div>
      </div>
    </section>
    <div class="sticky-helper"></div>
  </header>
</div>
