
<div id="spree-header">
  <header id="header" data-hook>
    <section class="sticky">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-sm-9 desktop-menu">
          <%= render partial: 'spree/shared/main_nav_bar' %>
           <%= render partial: 'spree/shared/nav_bar' %>
          </div>
          <figure id="logo" class="col-md-3 col-sm-3 col-xs-12 " data-hook>
            <a href="/"><%= image_tag '/vinsol_spree_themes/current/images/logo.png' %></a>
          </figure>
        </div>
      </div>
    </section>
    <div class="sticky-helper"></div>
  </header>
</div>
