<footer class="primary-footer">
<!--   <div class="subscribe-newsletter-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="text-center common-heading"> Subscribe to Our Newsletter </div>
          <p class="text-center">New products, new ideas and a whole bunch of madness delivered to your inbox as it happens!</p>
          <form>
            <div class="row">
              <div class="col-sm-5 form-group">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
              <div class="col-sm-5 form-group">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Name">
              </div>
              <div class="col-sm-2 form-group">
                <button class="btn btn-block btn-subscribe">
                  SUBSCRIBE
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-sm-4">

        <ul class="social">
          <li>
            <a href="javascript:void(0);" class="fa fa-facebook"></a>
          </li>
          <li>
            <a href="javascript:void(0);" class="fa fa-twitter"></a>
          </li>
          <li>
            <a href="javascript:void(0);" class="fa fa-instagram"></a>
          </li>
          <li>
            <a href="javascript:void(0);" class="fa fa-youtube-square"></a>
          </li>
        </ul>

      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-3">
            <h3 class="decorated-heading">
              <span>Company</span>
            </h3>
            <ul class="footer-nav">
              <li><a href="javascript:void(0);">Contact Us</a></li>
              <li><a href="javascript:void(0);">About Us</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h3 class="decorated-heading">
              <span>Need Help</span>
            </h3>
            <ul class="footer-nav">
              <li><a href="javascript:void(0);">Help &amp; FAQ</a></li>
              <li><a href="javascript:void(0);">Track Order</a></li>
              <li><a href="javascript:void(0);">Store Locator</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h3 class="decorated-heading">
              <span>More Info</span>
            </h3>
            <ul class="footer-nav">
              <li><a href="javascript:void(0);">Blog</a></li>
              <li><a href="javascript:void(0);">Careers</a></li>
              <li><a href="javascript:void(0);">Privacy Policy</a></li>
              <li><a href="javascript:void(0);">Terms of Use</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h3 class="decorated-heading">
              <span>Get in Touch</span>
            </h3>
            <ul class="footer-nav">
              <li><a href="javascript:void(0);">1800-xxxx-xxxx</a></li>
              <li><a href="javascript:void(0);">help@example.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



</footer>
