<header class="primary-header" data-hook>

<!--   <div class="container-fluid hidden-sm hidden-xs">
    <div class="row">
      <div class="col-sm-6">
        <ul class="common-header-navigation top-corners flex-start">
          <li><a href="#">How it works</a></li>
          <li><a href="#">Why custom</a></li>
          <li><a href="#">Faq </a></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="common-header-navigation top-corners flex-end">
          <li><a href="#" class="text-danger">Black Friday 30% OFF</a></li>
          <li><a href="#">BLOG</a></li>
        </ul>
      </div>
    </div>
  </div> -->

  <div class="header-top">
    <div id="logo" class="logo_area" data-hook>
      <%= link_to (image_tag 'logo.svg'), root_path %>
    </div>
    <div class="mobile_bar hidden-lg hidden-md">
      <a href="javascript:void(0);" class="<%= !content_for?(:sidebar) ? "hidden sidebar_toggle" : "col-md-9 sidebar_toggle" %>"><i class="icon-menu"></i></a>
      <a href="javascript:void(0);" class="search_toggle"><i class="icon-search"></i></a>
      <a href="javascript:void(0);" class="userbar_toggle"><i class="icon-cart"></i></a>
      <a href="javascript:void(0);" class="userbar_toggle"><i class="icon-user"></i></a>
    </div>
    <%= render partial: 'spree/shared/nav_bar' %>

  </div>
</header>
<!-- <div class="container">
  <%#= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
</div> -->
