<%= render partial: 'spree/shared/search' %>

<nav id="top-nav-bar" class="user_bar">
  <a href="javascript:void(0);" class="close_this userbar_toggle"></a>
  <ul id="nav-bar" class="nav navbar-nav" data-hook>
    <li id="link-to-cart" data-hook>
      <noscript>
        <%= link_to_cart %>
      </noscript>
    </li>
    <script>Spree.fetch_cart()</script>
    <li id="search-bar" data-hook>
    </li>
  </ul>
</nav>
<div class="main_menu">
  <a href="javascript:void(0);" class="close_this main_menu_toggle"></a>

  <% if @taxonomies.present? %>
    <div class="main_navigation">
      <% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
      <% @taxonomies.each do |taxonomy| %>
        <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>
          <% if taxonomy.root.children.any? && taxonomy.name != 'Brands' %>
            <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

</div>
