<div class="search_area">
  <a href="javascript:void(0);" class="close_this search_toggle"></a>
  <% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
  <%= form_tag spree.products_path, method: :get do %>
    <!-- <div class="form-group"> -->
      <%# cache(cache_key_for_taxons) do %>
        <%#= select_tag :taxon,
              options_for_select([[Spree.t(:all_departments), '']] +
                                    @taxons.map {|t| [t.name, t.id]},
                                    @taxon ? @taxon.id : params[:taxon]), 'aria-label' => 'Taxon', class: "form-control" %>
      <%# end %>
    <!-- </div> -->
    <%= search_field_tag :keywords, params[:keywords], placeholder: Spree.t(:search) %>
    <%= button_tag '', name: nil, class: "fa fa-search search-btn" %>
  <% end %>
</div>
