.cart-table {
  border: solid 1px #ddd; }
  .cart-table .table {
    margin-bottom: 0; }
  .cart-table .cart-table-header {
    border-bottom: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .cart-table .cart-image-holder {
    width: 100%;
    height: 100px;
    border: solid 10px #f7f7f9;
    display: table;
    background: #f7f7f9; }
  .cart-table .cart-image-link {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .cart-table .cart-image-link img {
      max-width: 100%;
      max-height: 100%; }
  .cart-table .cart-item-description {
    font-size: 13px; }
    .cart-table .cart-item-description h4 {
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: 700; }
    .cart-table .cart-item-description a {
      color: #0083c1; }
      .cart-table .cart-item-description a:hover {
        color: #000; }
    .cart-table .cart-item-description .line-item-description {
      margin-top: 10px;
      display: block;
      font-size: 13px; }
  .cart-table .cart-item-price {
    color: #565656;
    font-size: 14px;
    font-weight: 700; }
  .cart-table .global-input {
    max-width: 100px; }
  .cart-table .cart-item-total {
    color: #000;
    font-size: 16px;
    font-weight: 700; }
  .cart-table .cart-subtotal td {
    padding: 15px 8px; }
  .cart-table .cart-subtotal h5 {
    font-size: 18px;
    font-weight: 700; }
  .cart-table .adjustment h5 {
    font-weight: 700; }
  .cart-table .cart-coupon-block {
    border-right: solid 1px #ddd;
    padding: 15px;
    background: #f7f7f9; }
    .cart-table .cart-coupon-block .global-input {
      min-width: 250px;
      height: 44px; }
  .cart-table .cart-total-text {
    font-size: 16px;
    vertical-align: middle !important; }
  .cart-table .cart-total-block {
    font-size: 21px;
    font-weight: 700;
    vertical-align: middle !important; }
  @media (max-width: 767px) {
    .cart-table {
      border: none; }
      .cart-table .cart-item-image,
      .cart-table .cart-item-quantity {
        min-width: 100px; }
      .cart-table .cart-item-description {
        font-size: 12px; }
        .cart-table .cart-item-description h4 {
          font-size: 14px; }
        .cart-table .cart-item-description .line-item-description {
          font-size: 12px; } }

.table > tbody + tbody {
  border-top: solid 1px #ddd; }

.table > thead > tr > th {
  border-bottom: solid 1px #ddd; }

.cart-update-button-block {
  margin-top: 20px;
  padding-right: 0;
  float: right;
  text-align: right; }
  .cart-update-button-block #update-button {
    float: left; }
  @media (max-width: 767px) {
    .cart-update-button-block {
      width: 100%;
      margin-top: 0;
      padding-left: 0;
      z-index: 2; } }

.cart-buttons-row {
  margin-top: 20px; }
  .cart-buttons-row .cart-button-or-text {
    padding: 0 15px;
    line-height: 44px; }
  @media (max-width: 767px) {
    .cart-buttons-row {
      text-align: center; }
      .cart-buttons-row .button-primary,
      .cart-buttons-row .cart-button-or-text {
        width: 100%; } }
