@import url("https://fonts.googleapis.com/css?family=Gudea:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");
.checkout-section .checkout-progress-block {
  margin-top: 20px;
  border: solid 1px #c7c7c7;
  padding: 15px;
  background: #f7f7f9; }
  .checkout-section .checkout-progress-block .progress-steps {
    width: 100%;
    margin-top: 0;
    display: table; }
  .checkout-section .checkout-progress-block li {
    width: 25%;
    float: left;
    text-align: center; }
    .checkout-section .checkout-progress-block li.active {
      background: #000; }
      .checkout-section .checkout-progress-block li.active a {
        font-family: "Oswald", sans-serif;
        font-size: 13px;
        font-weight: 300;
        text-transform: uppercase;
        background: transparent; }
  .checkout-section .checkout-progress-block .nav-pills > li + li {
    margin-left: 0; }
  .checkout-section .checkout-progress-block .nav-pills > li a {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0; }
    .checkout-section .checkout-progress-block .nav-pills > li a:hover {
      background: transparent; }
.checkout-section .checkout-content-section {
  margin-top: 30px; }
.checkout-section #checkout-summary {
  width: 100%;
  float: right; }
.checkout-section .checkout-left-section {
  width: 100%;
  float: left; }
.checkout-section .checkout-address-save-block {
  padding-top: 10px; }
.checkout-section .checkout-address-button-row {
  margin-top: 30px;
  border-top: solid 1px #c7c7c7;
  padding-top: 20px; }

.checkout-address-form {
  margin-top: 30px; }
  .checkout-address-form .checkout-billing-address-block {
    margin-top: 20px; }
  .checkout-address-form .checkout-address-form-row {
    margin-top: 20px; }
    .checkout-address-form .checkout-address-form-row:first-child {
      margin-top: 0; }
    .checkout-address-form .checkout-address-form-row label {
      display: block;
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase; }
      .checkout-address-form .checkout-address-form-row label abbr {
        border-bottom: none; }
  .checkout-address-form .checkout-form-hint-link {
    font-size: 11px;
    font-weight: 300;
    text-transform: none; }

.checkout-shipping-address-form {
  margin-top: 50px; }

.checkout-summary-block {
  border: solid 1px #c7c7c7;
  padding: 15px;
  background: #f7f7f9; }
  .checkout-summary-block .checkout-order-summery-total {
    color: #000;
    font-size: 18px; }

.checkout-delivery-section .checkout-delivery-block {
  margin-top: 20px; }
.checkout-delivery-section .checkout-devivery-block-title {
  font-family: "Oswald", sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase; }
.checkout-delivery-section .checkout-delivery-table {
  margin-top: 20px; }
  .checkout-delivery-section .checkout-delivery-table th {
    border-bottom: solid 1px #c7c7c7 !important;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent !important; }
.checkout-delivery-section .checkout-delivery-shipping-row {
  border-top: solid 1px #f7f7f9;
  padding: 10px 0; }
  .checkout-delivery-section .checkout-delivery-shipping-row:first-child {
    border-top: none; }
  .checkout-delivery-section .checkout-delivery-shipping-row label {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 300; }

.checkout-payment-section checkout-payment-block {
  margin-top: 20px; }

.checkout-order-section .checkout-order-block {
  margin-top: 20px; }
.checkout-order-section .checkout-order-details-block {
  padding: 10px;
  background: #f7f7f9; }
.checkout-order-section .checkout-order-itmes-table {
  margin-top: 30px; }

.checkout-user-section {
  margin-top: 30px; }

@media (max-width: 767px) {
  .checkout-section .checkout-progress-block {
    padding: 10px; }
    .checkout-section .checkout-progress-block li {
      width: 100%; }
    .checkout-section .checkout-progress-block .nav-pills > li a {
      margin-bottom: 0;
      padding: 6px 0; }

  .checkout-left-section {
    margin-top: 30px; }

  .checkout-address-form .checkout-address-form-row {
    margin-top: 0; }
  .checkout-address-form .checkout-address-form-block {
    margin-top: 15px; }

  .checkout-address-form .checkout-address-form-row {
    margin-top: 20px; }

  .checkout-order-section .checkout-order-details-block {
    margin-top: 20px; }
  .checkout-order-section .checkout-order-buttons-row .button-primary.button-small {
    width: 100%;
    margin-top: 10px;
    text-align: center; } }
