#home-page #fixed-header-helper {
  display: none; }
#home-page #header {
  background: rgba(0, 0, 0, 0.7); }

.home-page-slider {
  margin: 0 0 80px; }
  .home-page-slider .carousel-inner {
    min-height: 300px;
    height: 70vh;
    background: #000; }
    .home-page-slider .carousel-inner .item {
      height: 100%;
      background-size: cover;
      background-position: center center; }
    .home-page-slider .carousel-inner .slider-img {
      width: 100%; }
  .home-page-slider .carousel-indicators {
    z-index: 10; }
  .home-page-slider h3 {
    font-size: 60px;
    font-weight: 300; }
  .home-page-slider .taxon-info-text {
    font-size: 20px;
    font-weight: 300; }
  .home-page-slider .carousel-caption {
    padding-bottom: 50px; }

@media (min-width: 768px) {
  .home-page-slider .carousel-inner {
    height: 100vh;
    max-height: 100vh;
    background: #000; } }
