@import 'mixins.scss';
body {
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;

  &.main-menu-active {
    .unite-overlay {
      z-index: 996;
    }
    #spree-header {
      z-index: 9967;
      #logo {
        a {
          opacity: 1;
        }
      }
    }
    #top-nav-bar {
      visibility: hidden;
    }
    .header-search {
      visibility: hidden;
    }
  }
  &.serach-header-active {
    .unite-overlay {
      visibility: visible;
      opacity: 0.6;
      z-index: 90;
    }
  }
}

#content {
  > .alert {
      position: absolute;
      top: 75px;
      z-index: 9;
      left: 0;
      right: 0;
      @include border-radius(0);
      opacity: 0.9;
    }
}
.row {
  &.no-margin {
    margin-left: 0;
    margin-right: 0;
  }
}

#fixed-header-helper {
  height: 70px;
  margin-bottom: 20px;
}

.btn{
  &.btn-unite {
    background: #df9300;
    color: #fff;
  }
}

.relative {
  position: relative;
}

.theme-container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

@media(max-width: 990px) {
  .container {
    min-width: 100%;
    max-width: 100%;
  }
}
