<footer class="theme-footer col-md-12">  
  <div class="row footer-btm-row text-center">
    <div class="col-md-6">
      <p class="footer-social-links">
        <a href="javaScript:void(0)"><i class="fa fa-facebook-square"></i>Facebook</a>
        <a href="javaScript:void(0)"><i class="fa fa-twitter-square"></i>Twitter</a>
        <a href="javaScript:void(0)"><i class="fa fa-instagram"></i>Instagram</a>
      </p>
    </div>
    <div class="col-md-6">
      <p>&copy; 2018 - Theme all right reserved</p>
    </div>
  </div>
</footer>
