<% if spree_current_user %>
  <li>
    <%= link_to spree.account_path do %>
      <i class="glyphicon glyphicon-user"></i>
    <% end %>
  </li>
  <li>
    <%= link_to spree.logout_path do %>
      <i class="glyphicon glyphicon-off"></i>
    <% end %>
  </li>
<% else %>
  <li id="link-to-login">
    <%= link_to spree.login_path, class:'login-icon' do %>
      <i class="glyphicon glyphicon-user"></i>
    <% end %>
  </li>
<% end %>
