<nav id="top-nav-bar">
  <ul class="list-unstyled" data-hook>
    <li id="search-bar" data-hook>
      <%= render partial: 'spree/shared/search' %>
    </li>
    <%= render partial: 'spree/shared/main_nav_bar' %>
  </ul>
</nav>

