$color-white: #fff;
$color-black: #000;
$light-grey-bg: #f7f7f9;
$link-maroon: #C14463;
$border-grey: #c7c7c7;
$border-light-grey: #e8e8e8;

$full: 100%;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Oswald', sans-serif;
